<html>
<head>
  <title>ಸಂಧಿ</title>
  <link rel="stylesheet" href="static/scss/newfile1.css">
  <link rel="shortcut icon" href="..\static\images\kannada.webp" type="image/x-icon">

  </head>
  <body align:"center">
  <div class="new">
    <h1 class="box_color">ಸಂಧಿ<hr></h1>
    <button type="button" onclick="window.location.href='http://127.0.0.1:5000/welcome';">ಮುಖ್ಯಪುಟ</button>
    <button type="button" onclick="window.location.href='http://127.0.0.1:5000/page2';">ಸಂಧಿ ಪ್ರಕಾರಗಳು</button>
    <button type="button" onclick="window.location.href='http://127.0.0.1:5000/abhyasa';">ಅಭ್ಯಾಸ ಪ್ರಾರಂಭಿಸು</button>
    <button type="button" onclick="window.location.href='http://127.0.0.1:5000';">ವ್ಯಾಕರಣ ಮುಖ್ಯಪುಟ</button>
  </div>
  <h1 style="font-size:50px;text-align:center;"><br><b><i>ಆದೇಶ ಸಂಧಿ</i><b></h1>
  <pre style="font-size:21px;text-align:center;"><b>
ಸಂಧಿಯಾಗುವಾಗ ಒಂದು ವ್ಯಂಜನದ ಸ್ಥಾನದಲ್ಲಿ ಮತ್ತೊಂದು ವ್ಯಂಜನ
ಬರುವುದಕ್ಕೆ ಆದೇಶ ಸಂಧಿಯೆಂದು ಕರೆಯುತ್ತಾರೆ.
ಆದೇಶ ಸಂಧಿಯಲ್ಲಿ ಉತ್ತರ ಪದದ ಮೊದಲಲ್ಲಿ ಇರುವ ಕ, ತ, ಪ ಎಂಬ
ವ್ಯಂಜನಗಳಿಗೆ  ಪ್ರತಿಯಾಗಿ, ಕ್ರಮವಾಗಿ ಗ, ದ, ಬ ಎಂಬ ವ್ಯಂಜನಗಳು
ಆದೇಶವಾಗುವುವು.
<u>ಉದಾ</u> :  ಮಳೆ + ಕಾಲ = ಮಳೆಗಾಲ
ಬೆಟ್ಟ + ತಾವರೆ = ಬೆಟ್ಟದಾವರೆ
ಕಣ್ + ಪನಿ = ಕಂಬನಿ
ಹೊಸ + ಕನ್ನಡ = ಹೊಸಗನ್ನಡ</b></pre>
<button class="new" type="button" onclick="window.location.href='http://127.0.0.1:5000/page2';">ಹಿಂದಿನ ಪುಟ</button>

</body>
</head>
<html>
