





<html>
<head>
<style>
.b{
    padding-left:605px;
    }
body{
      background-image: url(/static/images/n5.jpg);
      background-repeat: no-repeat;
      background-size:70% 100%;
     background-position: center;
	 background-color:black;
      padding-top:20px;
    color:white;
    font-size:20px;
    }


	
	
</style>
</head>
<body >
<pre></br></br><br><br><br></pre>
<div class="center" style="padding-left:500px;">
<ul>
   <br><br><p><li><button style="background-color: white;color:black;font-size: 25px;" id="btn" value="start" onclick="window.location.href = 'http://127.0.0.1:5000/abhyasa';"> ಸಂಧಿ ಜೋಡಿಸಿ </button> </li></br></br></br>
      <li><button style="background-color: white;color:black;font-size: 25px;"id="btn" value="start" onclick="window.location.href = 'http://127.0.0.1:5000/abhyasa1';"> ಸಂಧಿ    ಬಿಡಿಸಿ</button></li></p> </br>
</ul>
</div>
</br></br>




    <div class='b'>
   <button style="background-color:black;color:white;font-size: 25px;" type="button" onclick="window.location.href='http://127.0.0.1:5000/page2';">ಮುಖ್ಯ ಪುಟ</button>
   </div>
</body>
</head>
</html>