<html>
<head>
  <title>ಸಂಧಿ</title>
  <link rel="stylesheet" href="static/scss/newfile.css">
  <link rel="shortcut icon" href="..\static\images\kannada.webp" type="image/x-icon">


</head>
<body>
  <div class="new">
    <h1 class="box_color">ಸಂಧಿ<hr></h1>
    <button type="button" onclick="window.location.href='http://127.0.0.1:5000/welcome';">ಮುಖ್ಯಪುಟ</button>
    <button type="button" onclick="window.location.href='http://127.0.0.1:5000/page2';">ಸಂಧಿ ಪ್ರಕಾರಗಳು</button>
    <button type="button" onclick="window.location.href='http://127.0.0.1:5000/abhyasa';">ಅಭ್ಯಾಸ ಪ್ರಾರಂಭಿಸು</button>
    <button type="button" onclick="window.location.href='http://127.0.0.1:5000';">ವ್ಯಾಕರಣ ಮುಖ್ಯಪುಟ</button>
  </div>

<ul align:"center">
  <li> <button  type="button" onclick="window.location.href='http://127.0.0.1:5000/smcq';"> ಸಂಧಿ ಬಿಡಿಸಿ</button> </li><br>
  <li> <button  type="button" onclick="window.location.href='http://127.0.0.1:5000/mcq';">ಸಂಧಿಯನ್ನು ಹೆಸರಿಸಿ</button> </li></br>
</ul>



</br></br>

</body>
</head>
</html>
