<html>
<head>
<style>
.b{
    padding-left:700px;
    }
body{
      background-image: url(/static/images/n5.jpg);
      background-repeat: no-repeat;
       background-size:70% 100%;
      background-position: center;
	  background-color:black;
      padding-top:160px;
      color:white;
      font-size:20px;
    }
</style>
</head>
<body>
<div style="padding-left:490px;">
</br>
</br>
<ul>
   <li><button style="background-color: white;color:black;font-size: 20px;" id="btn" value="start" onclick="window.location.href = 'http://127.0.0.1:5000/smcq';">ಸಂಧಿ ಬಿಡಿಸಿ</button></li> </br>

   <li><button style="background-color: white;color:black;font-size: 20px;" id="btn" value="start" onclick="window.location.href = 'http://127.0.0.1:5000/shondisi';"> ಹೊಂದಿಸಿ ಬರೆಯಿರಿ</button></li>
</ul>
</div>
</br></br>
    <div class='b'>
   <button style="background-color: black;color:white;font-size: 25px; type="button" onclick="window.location.href='http://127.0.0.1:5000/page2';">ಮುಖ್ಯ ಪುಟ</button>
   </div>
</body>
</head>
</html>
