<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ತತ್ಸಮ ತದ್ಭವ</title>
    <link rel="stylesheet" href="static/scss/newfile1.css">
    <link rel="shortcut icon" href="..\static\images\kannada.webp" type="image/x-icon">


  </head>
  <body align="center">


        <div class="new">
          <h1 class="box_color">ತತ್ಸಮ ತದ್ಭವ<hr></h1>
          <button type="button" onclick="window.location.href='http://127.0.0.1:5000/indext';">ಮುಖ್ಯಪುಟ</button>
          <button type="button" onclick="window.location.href='http://127.0.0.1:5000/searcht';">ಅಭ್ಯಾಸ 1</button>
          <button type="button" onclick="window.location.href='http://127.0.0.1:5000/findt';">ಅಭ್ಯಾಸ 2</button>
          <button type="button" onclick="window.location.href='http://127.0.0.1:5000/hnoticet';">ಅಭ್ಯಾಸ 3</button>

          <button type="button" onclick="window.location.href='http://127.0.0.1:5000';">ವ್ಯಾಕರಣ ಮುಖ್ಯಪುಟ</button>
        </div>
        <h3>
         ತತ್ಸಮ- ತತ್ಸಮ ಅಂದರೆ ಸಂಸ್ಕೃತಕ್ಕೆ ಸಮ ಎಂದರ್ಥ ಸಂಸ್ಕೃತದಿಂದ ವಿಕಾರ ಹೊಂದದೆ ಕನ್ನಡದಲ್ಲಿ ಬಳಸಲ್ಪಡುವ ಶಬ್ದಗಳಿಗೆ ತತ್ಸಮ ಎನ್ನುವರು .</h3>

          <h3>
        ತದ್ಭವ- ಸಂಸ್ಕೃತದಿಂದ ಕನ್ನಡಕ್ಕೆ ಬರುವಾಗ ಅಲ್ಪ ಸ್ವಲ್ಪ ವಿಕಾರವಾಗಲಿ ಅಥವಾ ಪೂರ್ಣ ವಿಕಾರವಾಗಲಿ ಹೊಂದಿರುವ ಶಬ್ದಗಳನ್ನು ತದ್ಭವ ಎನ್ನುವರು.</h3>
         <br></br>
        <h2>ಉದಾ :</h2>

   <h3>  <br>ಕ್ಷಾರ - ಕಾರ </br>
        <br> ಛಂದ - ಚಂದ </br>
                            <br>ಕಲಶ - ಕಳಚ </br> </h2>



   </h3>



  <!-- Start slider  -->


  </body>
</html>
