<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">    
    <title>VYAKARANA</title>

    <!-- Favicon -->
    <!-- <link rel="shortcut icon" href="assets/img/favicon.ico" type="image/x-icon"> -->

    <link href="{{ url_for('static',filename='assets/css/font-awesome.css') }}" rel="stylesheet">
    <!-- Bootstrap -->
    <link href="{{ url_for('static',filename='assets/css/bootstrap.css') }}" rel="stylesheet">   
    <!-- Slick slider -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename = 'assets/css/slick.css') }}">    
    <!-- Date Picker -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename = 'assets/css/bootstrap-datepicker.css') }}">    
    <!-- Fancybox slider -->
    <link rel="stylesheet" href="{{ url_for('static',filename ='assets/css/jquery.fancybox.css') }}" type="text/css" media="screen" /> 
    <!-- Theme color -->
    <link id="switcher" href="{{ url_for('static',filename='assets/css/theme-color/default-theme.css') }}" rel="stylesheet">     

    <!-- Main style sheet -->
    <link href="{{ url_for('static',filename='style.css') }}" rel="stylesheet"> 
    <!-- Google Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Tangerine' rel='stylesheet' type='text/css'>        
    <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Prata' rel='stylesheet' type='text/css'>   
  </head>
  <body>  
 <a class="scrollToTop" href="#">
      <i class="fa fa-angle-up"></i>
      <span>Top</span>
    </a>
  <header id="mu-header">  
    <nav class="navbar navbar-default mu-main-navbar" role="navigation">  
      <div class="container">
        <div class="navbar-header">
          <!-- FOR MOBILE VIEW COLLAPSED BUTTON -->
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <!-- LOGO -->                                                         
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul id="top-menu" class="nav navbar-nav navbar-right mu-main-nav">
            <li><a href="/indext">ಮುಖ್ಯ ಪುಟ</a></li>  
              </ul>
            </li>
          </ul>                            
        </div>    
      </div>          
    </nav> 
  </header>
  <!-- End header section -->
  <!-- Start slider  -->
  <section id="mu-slider">
    <div class="mu-slider-area"> 
      <!-- Top slider -->
      <div class="mu-top-slider">
        <!-- Top slider single slide -->
        <div class="mu-top-slider-single">
         
          <!-- Top slider content -->
          <div class="mu-top-slider-content">
            <span class="mu-slider-small-title">Tyre Zero Companies</span>
            <h6 class="mu-slider-title"></h6>
            <p></p>           
            <!-- <a href="#" class="mu-readmore-btn">READ MORE</a> -->
          </div>
          <!-- / Top slider content -->
        </div>  
      </div>
    </div>
  </section>
  <!-- End slider  -->

  <!-- Start About us -->
  <section id="mu-about-us">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="mu-about-us-area">
            <div class="mu-title">
              <span class="mu-subtitle"> ಪರಿಚಯ</span>
              <h2>ತತ್ಸಮ ಮತ್ತು ತದ್ಭವ</h2>
              <i class="fa fa-spoon"></i>              
              <span class="mu-title-bar"></span>
            </div>
            <div class="row">
            <div class="col-md-4">
            <div class="clearfix"></div>
            </div>
              
                      
                 
                    
                   <h3>
                    ತತ್ಸಮ- ತತ್ಸಮ ಅಂದರೆ ಸಂಸ್ಕೃತಕ್ಕೆ ಸಮ ಎಂದರ್ಥ ಸಂಸ್ಕೃತದಿಂದ ವಿಕಾರ ಹೊಂದದೆ ಕನ್ನಡದಲ್ಲಿ ಬಳಸಲ್ಪಡುವ ಶಬ್ದಗಳಿಗೆ ತತ್ಸಮ ಎನ್ನುವರು .</h3>

                     <h3>
                   ತದ್ಭವ- ಸಂಸ್ಕೃತದಿಂದ ಕನ್ನಡಕ್ಕೆ ಬರುವಾಗ ಅಲ್ಪ ಸ್ವಲ್ಪ ವಿಕಾರವಾಗಲಿ ಅಥವಾ ಪೂರ್ಣ ವಿಕಾರವಾಗಲಿ ಹೊಂದಿರುವ ಶಬ್ದಗಳನ್ನು ತದ್ಭವ ಎನ್ನುವರು.</h3> 
                    <br></br>
                   <h2>ಉದಾ :</h2> 
                   
              <h3>  <br>ಕ್ಷಾರ - ಕಾರ </br>
                   <br> ಛಂದ - ಚಂದ </br>
                                       <br>ಕಲಶ - ಕಳಚ </br> </h2>
                     
                    '''
                    
              </h3>
                   
                   </ul>
                  </div>
                </div>
            <div class="row">
              <div class="col-md-6">
                <div class="mu-about-us-left">
                </div>
              </div>
              <div class="col-md-6">
                <div class="mu-about-us-right">                
                 
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End About us -->
  <!-- Start Contact section -->
  <section id="mu-contact">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="mu-contact-area">
            <div class="mu-title">
            
              <i class="fa fa-spoon"></i>              
              <span class="mu-title-bar"></span>
			 
			  <div class="mu-contact-right">
			  <div class="mu-contact-widget">
                
                    </div>
				</div>
				</div>
            </div>
          </div>
        </div>
      </div>
  </section>
  <!-- End Contact section -->

  
  
  <script src="{{ url_for('static',filename='assets/js/jquery.min.js') }}"></script>  
  <!-- Include all compiled plugins (below), or include individual files as needed -->
  <script src="{{ url_for('static',filename='assets/js/bootstrap.js') }}"></script>   
  <!-- Slick slider -->
  <script type="text/javascript" src="{{ url_for('static',filename='assets/js/slick.js') }}"></script>
  <!-- Counter -->
  <script type="text/javascript" src="{{ url_for('static',filename='assets/js/waypoints.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static',filename='assets/js/jquery.counterup.js') }}"></script>
  <!-- Date Picker -->
  <script type="text/javascript" src="{{ url_for('static',filename='assets/js/bootstrap-datepicker.js') }}"></script> 
  <!-- Mixit slider -->
  <script type="text/javascript" src="{{ url_for('static',filename='assets/js/jquery.mixitup.js') }}"></script>
  <!-- Add fancyBox -->        
  <script type="text/javascript" src="{{ url_for('static',filename='assets/js/jquery.fancybox.pack.js') }}"></script>

  <!-- Custom js -->
  <script src="{{ url_for('static',filename='assets/js/custom.js') }}"></script> 

  </body>
</html>