<html>
<head>
<title>ಸಂಧಿ</title>
<link rel="stylesheet" href="static/scss/newfile1.css">
<link rel="shortcut icon" href="..\static\images\kannada.webp" type="image/x-icon">

</head>
<body align:"center">
<div class="new">
  <h1 class="box_color">ಸಂಧಿ<hr></h1>
  <button type="button" onclick="window.location.href='http://127.0.0.1:5000/welcome';">ಮುಖ್ಯಪುಟ</button>
  <button type="button" onclick="window.location.href='http://127.0.0.1:5000/page2';">ಸಂಧಿ ಪ್ರಕಾರಗಳು</button>
  <button type="button" onclick="window.location.href='http://127.0.0.1:5000/abhyasa';">ಅಭ್ಯಾಸ ಪ್ರಾರಂಭಿಸು</button>
  <button type="button" onclick="window.location.href='http://127.0.0.1:5000';">ವ್ಯಾಕರಣ ಮುಖ್ಯಪುಟ</button>

</div>
<h1 style="font-size:50px;text-align:center;"><br><b><i>ಲೋಪ ಸಂಧಿ</i><b></h1>
<pre style="font-size:21px;text-align:center;"><b>
ಸಂಧಿಯಾಗುವಾಗ ಸ್ವರದ ಮುಂದೆ ಸ್ವರವು ಬಂದಾಗ, ಅರ್ಥವು ಕೆಡದಿದ್ದ
ಪಕ್ಷದಲ್ಲಿ ಮೊದಲ ಪದದ ಕೊನೆಯ ಸ್ವರವು ಲೋಪವಾಗುವುದು.
<u>ಉದಾ</u>:
ನಾವು + ಎಲ್ಲಾ = ನಾವೆಲ್ಲಾ ("ಉ" ಕಾರ ಲೋಪ)
ಬೇರೆ + ಒಂದು = ಬೇರೊಂದು ("ಎ" ಕಾರ ಲೋಪ)
ಮಾತು + ಇಲ್ಲ = ಮಾತಿಲ್ಲ ("ಉ" ಕಾರ ಲೋಪ)
ಮಾಡು + ಇಸು = ಮಾಡಿಸು ("ಉ" ಕಾರ ಲೋಪ)</b></pre>
<button class="new" type="button" onclick="window.location.href='http://127.0.0.1:5000/page2';">ಹಿಂದಿನ ಪುಟ</button>

</body>
</head>
<html>
