<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ಕನ್ನಡ ವ್ಯಾಕರಣಗಳು</title>
    <link rel="stylesheet" href="static/scss/newfile.css">
    <link rel="shortcut icon" href="..\static\images\kannada.webp" type="image/x-icon">

</head>
<body>
    <h1 class="box_color">ಕನ್ನಡ ವ್ಯಾಕರಣಗಳು<hr></h1>
<div class="new">
  <button  type="button" onclick="window.location.href='http://127.0.0.1:5000/welcome';">ಸಂಧಿಗಳು</button>
 <button  type="button" onclick="window.location.href='http://127.0.0.1:5000/homea';">ಅನ್ಯದೇಶೀಯ ಪದಗಳು</button>
  <button   type="button" onclick="window.location.href='http://127.0.0.1:5000/homev';">ವಿರುಧಾರ್ಥಕ ಪದಗಳು</button>
  <button   type="button" onclick="window.location.href='http://127.0.0.1:5000/homen';">ನುಡಿಗಟ್ಟು</button>
  <button   type="button" onclick="window.location.href='http://127.0.0.1:5000/homes';">ಸಮಾನಾರ್ಥಕ ಪದಗಳು</button>
  <button  type="button" onclick="window.location.href='http://127.0.0.1:5000/indext';">ತತ್ಸಮ ತದ್ಭವ</button>

</div>



</body>
</html>
