<html>
<body>
<head>
<style>
body{
padding-left:450pt;
padding-top:190pt;
background-image: url("/static/images/plain.jpg");
      background-repeat: no-repeat;
       background-size:70% 100%;
      background-position: center;
	  background-color:black;
      padding-top:20px;
      color:black;
      font-size:35px;
	  }
</style>
<h1>
ಸರಿ ಉತ್ತರ 
</h1>
<button style="font-size:25px" type="button" onclick="window.location.href='http://127.0.0.1:5000/match1';">ಮುಂದಿನ ಪ್ರಶ್ನೆ </button>
<br>
<button style="font-size:25px" type="button" onclick="window.location.href='http://127.0.0.1:5000/abhyasa';">ಅಭ್ಯಾಸ</button>
</head>
</body>
</html>
