<html>
<head>
<body>
<h1>ಸಂಧಿ
<p>
ಎರಡು ಅಕ್ಷರಗಳು ಕಾಲವಿಳಂಬವಿಲ್ಲದೆ ಕೂಡುವುದಕ್ಕೆ ಸಂಧಿ ಎಂದು ಹೆಸರು.
ಸಂಧಿಯಾಗುವಾಗ ಸ್ವರದ ಮುಂದೆ ಸ್ವರ ಬಂದರೆ ಸ್ವರಸಂಧಿ ಎನಿಸುವುದು.
ಸ್ವರಸಂಧಿ = ಸ್ವರ + ಸ್ವರ
ಸಂಧಿಯಾಗುವಾಗ ಸ್ವರದ ಮುಂದೆ ವ್ಯಂಜನ ಅಥವಾ ವ್ಯಂಜನದ ಮುಂದೆ ಸ್ವರ ಬಂದರೆ ವ್ಯಂಜನ ಸಂಧಿ ಎನಿಸುವುದು.
ವ್ಯಂಜನ ಸಂಧಿ = ಸ್ವರ + ವ್ಯಂಜನ
ವ್ಯಂಜನ ಸಂಧಿ = ವ್ಯಂಜನ + ಸ್ವರ
ಸಂಧಿ ಕಾರ್ಯವು ಎರಡು ಕನ್ನಡ ಶಬ್ಧಗಳ ನಡುವೆ ಏರ್ಪಟ್ಟರೆ ಅವನ್ನು ಕನ್ನಡ ಸಂಧಿಯಾಗಿ 
ಮತ್ತು ಎರಡರಲ್ಲಿ ಒಂದು ಸಂಸ್ಕೃತ ಪದವಾಗಿದ್ದರೆ ಅವನ್ನು ಸಂಸ್ಕೃತ ಸಂಧಿಯಾಗಿ ಪರಿಗಣಿಸಲಾಗುತ್ತದೆ.
ಉದಾ:
ನಾವು + ಎಲ್ಲಾ = ನಾವೆಲ್ಲಾ
ಕೆರೆ + ಅಲ್ಲಿ = ಕೆರೆಯಲ್ಲಿ
ಮಳೆ + ಕಾಲ = ಮಳೆಗಾಲ'

</p>
</body>
</head>
