<html>
<body>
<head>
<style>
body{
padding-left:450pt;
padding-top:190pt;
background-image: url("/static/images/plain.jpg");
      background-repeat: no-repeat;
       background-size:70% 100%;
      background-position: center;
	  background-color:black;
      padding-top:20px;
      color:black;
      font-size:35px;
}
</style>
<h3>ನಿಮ್ಮ ಉತ್ತರ ತಪ್ಪು </h3>
<h3>ಸರಿ ಉತ್ತರ </h3>
<table border=1>
<tr>
    <th></th>
   <td>ಬಿಡಿಸಿ</td>
	<td>ಸಂಧಿ</td>
    <th></th>

  </tr>
  <tr>
    <td>1]		ಮೈ+ತೊಳೆ</td>
	<td>ಮೈದೊಳೆ</td>
    <td>ಆದೇಶ ಸಂಧಿ</td>


  </tr>
 <tr>
    <td>2]		ಬಾಯ್+ತೆರೆ</td>
	<td>ಬಾಯ್ದೆರೆ</td>
    <td>ಆದೇಶ ಸಂಧಿ</td>



  </tr>
 <tr>
    <td>3]		ಎಳೆ+ಕರು </td>
	<td>ಎಳೆಗರು</td>
    <td>ಆದೇಶ ಸಂಧಿ</td>



 </tr>
</table> <br>
<button style="font-size:15px" type="button" onclick="window.location.href='http://127.0.0.1:5000/shondisi2';">ಮುಂದಿನ ಪ್ರಶ್ನೆ </button>
<button style="font-size:15px" type="button" onclick="window.location.href='http://127.0.0.1:5000/abhyasa1';">ಅಭ್ಯಾಸ</button>
</head>
</body>
</html>
