<html>
<head>
<style>
body{
      background-image: url(/static/images/boardimg2.jpg);
      background-repeat: no-repeat;
      background-size: auto;
     height: 100%;
      width:50%;
     background-position: center;
    color:white;
    font-size:20px;
    }
</style>
<body style="background-color:black;">

<pre>                                                <h2 style="padding-left:350px;"> ಪದ ಕೊಡಿ</h2>
<form  action="{{url_for('sresult')}}" method="post">                                                  ಪದ:
                                                  <input style="font-size:30px; padding-left:150px;" type="text" name="first" value="{{request.form.first}}"><br>
                                                       <input style="font-size: 15px;" type="submit" value="ಸಂಧಿ ಬಿಡಿಸಿ">   <button style="font-size:15px;" type="button" onclick="window.location.href='http://127.0.0.1:5000/abhyasa1';"><b>ಅಭ್ಯಾಸ </b></button>
    </div>
                                                       
    </form>
</pre>
</body>
</head>
<html>
