<!DOCTYPE html>
<html>
<head>
<style>


p.main {
  text-align: center;
  font-weight: bold;
  font-size: 35px;
}

p.adp {
  text-align: center;
  font-weight: bold;
  font-size: 35px;
}

p.ade {
  text-align: center;
  font-weight: bold;
  font-size: 30px;
}

p.adf {
  text-align: center;
  font-weight: bold;
  font-size: 20px;
}

p.adg {
  text-align: center;
  font-weight: bold;
  font-size: 20px;
}

p.adh {
  text-align: center;
  font-weight: bold;
  font-size: 20px;
}

p.adi {
  text-align: center;
  font-weight: bold;
  font-size: 20px;
}

p.adj {
  text-align: center;
  font-weight: bold;
  font-size: 20px;
}

p.adk {
  text-align: center;
  font-weight: bold;
  font-size: 20px;
}

p.adl {
  text-align: center;
  font-weight: bold;
  font-size: 20px;
}

p.adm {
  text-align: center;
  font-weight: bold;
  font-size: 20px;
}

p.adn {
  text-align: center;
  font-weight: bold;
  font-size: 20px;
}

.navbar {
  position: fixed;
  top: 0;
  right: 0;
  background-color: #f9f9f9;
  padding: 10px;
  z-index: 9999;
}

.navbar a {
  padding: 10px;
  text-decoration: none;
  color: black;
  font-size: 20px;
  font-weight: bold;
}

.navbar a:hover {
  background-color: #ddd;
}

.navbar a.active {
  background-color: #3a3736;
  color: white;
}

html {
  background: url(/static/images/woodplank.jpg) no-repeat center fixed;
  background-size: cover;
  height: 1000px;
}


table, th, td {
  border: 1px solid white;
  border-collapse: collapse;
}
th, td {
  background-color: #96D4D4;
  font-size: large;
}
</style>
<title>ನುಡಿಗಟ್ಟುಗಳು</title>
<link rel="stylesheet" href="static/scss/newfile1.css">
<link rel="shortcut icon" href="..\static\images\kannada.webp" type="image/x-icon">

</head>
<body>


<div class="new">
  <h1 class="box_color">ಕನ್ನಡ ನುಡಿಗಟ್ಟುಗಳು<hr></h1>
  <button type="button" onclick="window.location.href='http://127.0.0.1:5000/homen';">ಮುಖ್ಯಪುಟ</button>
  <button type="button" onclick="window.location.href='http://127.0.0.1:5000/identifyLanguagen';">ಅಭ್ಯಾಸ ಪ್ರಾರಂಭಿಸು</button>
  <button type="button" onclick="window.location.href='http://127.0.0.1:5000';">ವ್ಯಾಕರಣ ಮುಖ್ಯಪುಟ</button>

</div>

<table border="" align="center"  class="has-theme-palette-7-background-color has-background">
  <tbody align="center">
    <tr>
        <th colspan="2">ಕನ್ನಡ ನುಡಿಗಟ್ಟುಗಳು ಉಧಾಹರಣೆಗಳು </th>
      </tr>
      <tr>
        <th>ನುಡಿಗಟ್ಟು</th>
        <th>ಅರ್ಥ</th>
      </tr>
      <tr>
        <td>ಅಂಗೈನಲ್ಲಿ</td>
        <td>ಚೆನ್ನಾಗಿ ತಿಳಿದಿರುವುದು</td>
      </tr>
      <tr>
        <td>ಅಂಗೈಯಲ್ಲಿ ಜೀವ ಹಿಡಿದುಕೊಳ್ಳು</td>
        <td>ಬಹಳ ಭಯ ಹಾಗೂ ಎಚ್ಚರಿಕೆಗಳಿಂದ ಕೂಡಿರು</td>
      </tr>
      <tr>
        <td>ಅಂತರ್ಲಾಗ ಹಾಕು</td>
        <td>ಬಹಳ ಪ್ರಯತ್ನಮಾಡು</td>
      </tr>
      <tr>
        <td>ಅಗ್ರತಾಂಬೂಲ</td>
        <td>ಮೊದಲ ಮರ್ಯಾದೆ</td>
      </tr>
      <tr>
        <td>ಅಗ್ರಪೀಠ</td>
        <td>ಮುಖ್ಯ ಸ್ಥಾನ; ಮೊದಲ ಮರ್ಯಾದೆ</td>
      </tr>
      <tr>
        <td>ಅಗ್ರವೀಳ್ಯ</td>
        <td>ಮೊದಲ ಮರ್ಯಾದೆ</td>
      </tr>
      <tr>
        <td>ಅಜ್ಜನ ಕಾಲದ್ದು</td>
        <td>ಬಹಳ ಹಳೆಯದು</td>
      </tr>
      <tr>
        <td>ಅಜ್ಜಿಕತೆ</td>
        <td>ಕಟ್ಟುಕತೆ</td>
      </tr>
      <tr>
        <td>ಅಟ್ಟಕ್ಕೇರಿಸು</td>
        <td>ಹೊಗಳಿ ಉಬ್ಬಿಸು</td>
      </tr>
      <tr>
        <td>ಅಡಕೆ ಕೊಡು</td>
        <td>ಬೀಳ್ಕೊಡು</td>
      </tr>
      <tr>
        <td>ಅಡ್ಡದಾರಿ ಹಿಡಿ</td>
        <td>ಕೆಟ್ಟಚಾಳಿಯಲ್ಲಿ ತೊಡಗು</td>
      </tr>
      <tr>
        <td>ಅನ್ನ ಕಿತ್ತುಕೊಳ್ಳು</td>
        <td>ಜೀವನಮಾರ್ಗವನ್ನು ಕೆಡಿಸು</td>
      </tr>
      <tr>
        <td>ಅನ್ನಕ್ಕೆ ಕಲ್ಲುಹಾಕು</td>
        <td>ಜೀವನಮಾರ್ಗವನ್ನು ಹಾಳು ಮಾಡು</td>
      </tr>
      <tr>
        <td>ಅನ್ನದ ದಾರಿ</td>
        <td>ಬದುಕುವ ಮಾರ್ಗ</td>
      </tr>
      <tr>
        <td>ಅಮಾವಾಸ್ಯೆಗೊಮ್ಮೆ ಹುಣ್ಣಿಮೆಗೊಮ್ಮೆ</td>
        <td>ಬಹಳ ಅಪರೂಪವಾಗಿ</td>
      </tr>
      <tr>
        <td>ಅರೆದು ಕುಡಿಸು</td>
        <td>ಚೆನ್ನಾಗಿ ತಿಳಿಯುವಂತೆ ಹೇಳಿ ಕೊಡು</td>
      </tr>
      <tr>
        <td>ಅರ್ಧಚಂದ್ರ ಪ್ರಯೋಗಮಾಡು</td>
        <td>ಕತ್ತು ಹಿಡಿದು ನೂಕು</td>
      </tr>
      <tr>
        <td>ಅವತಾರ ಮುಗಿ</td>
        <td>ಶಕ್ತಿ, ಪ್ರಭಾವ ಮುಂತಾದುವೆಲ್ಲ ತೀರ ತಗ್ಗಿ ಹೋಗು; ಸಾಯು</td>
      </tr>
      <tr>
        <td>ಅಳಲೆಕಾಯಿ ಪಂಡಿತ</td>
        <td>ನಕಲಿ ವೈದ್ಯ</td>
      </tr>
      <tr>
        <td>ಅಳಿಲುಸೇವೆ</td>
        <td>ನಿಷ್ಠೆಯಿಂದ ಮಾಡುವ ಅಲ್ಪಸೇವೆ</td>
      </tr>
      <tr>
        <td>ಅಳೆದು ಸುರಿದು</td>
        <td>ಹಿಂದೆಮುಂದೆ ಯೋಚಿಸಿ</td>
      </tr>
      <tr>
        <td>ಆಕಾಶಕ್ಕೆ ಏಣಿ ಇಡು</td>
        <td>ಅಸಾಧ್ಯವಾದ ಕೆಲಸಕ್ಕೆ ಕೈಹಾಕು ಆಕಾಶಕ್ಕೆ ಹಾರು: ಅತ್ಯಾನಂದಪಡು</td>
      </tr>
      <tr>
        <td>ಆಕಾಶಕ್ಕೇರು</td>
        <td>ಹೆಚ್ಚಿನ ಆನಂದಪಡು; ಜಂಬ ಮಾಡು</td>
      </tr>
      <tr>
        <td>ಆಕಾಶದಿಂದ ಇಳಿದುಬರು</td>
        <td>ದೊಡ್ಡಗುಣಗಳಿಂದ ಕೂಡಿರು</td>
      </tr>
      <tr>
        <td>ಆಟ ನಡೆ</td>
        <td>ಪ್ರಭಾವ ಬೀರು</td>
      </tr>
      <tr>
        <td>ಆಹುತಿಯಾಗು</td>
        <td>ಬಲಿಯಾಗು; ನಾಶಹೊಂದು</td>
      </tr>
      <tr>
        <td>ಇಂದ್ರ ಚಂದ್ರ ಅನ್ನು</td>
        <td>ಅತಿಯಾಗಿ ಹೊಗಳು</td>
      </tr>
      <tr>
        <td>ಇಕ್ಕಳ ಹಾಕು</td>
        <td>ಒತ್ತಾಯದ ಪ್ರಚೋದನೆ ಮಾಡು</td>
      </tr>
      <tr>
        <td>ಇತಿಶ್ರೀ</td>
        <td>ಮುಕ್ತಾಯ; ಕೊನೆ ಇಲ್ಲಿಯ ಕಡ್ಡಿಯನ್ನು ಅಲ್ಲಿ ಎತ್ತಿ ಇಡದಿರು ಯಾವ ಕೆಲಸವನ್ನೂ ಮಾಡದಿರು</td>
      </tr>
      <tr>
        <td>ಇಹಲೋಕದ ಯಾತ್ರೆ ಮುಗಿಸು</td>
        <td>ಸಾಯು</td>
      </tr>
      <tr>
        <td>ಉಕ್ಕಿನ ಕಡಲೆ</td>
        <td>ತುಂಬ ಗಹನವಾದ ಸಂಗತಿ; ಅತ್ಯಂತ ಕಠಿನವಾದ ವಿಷಯ</td>
      </tr>
      <tr>
        <td>ಉತ್ಸವಮೂರ್ತಿ</td>
        <td>ಚೆಲುವ; ಕೆಲಸಮಾಡದೆ ಆಲಸ್ಯ ದಿಂದಿರುವವನು</td>
      </tr>
      <tr>
        <td>ಉಪ್ಪಿಡು</td>
        <td>ಅನ್ನಹಾಕು; ಕಾಪಾಡು</td>
      </tr>
      <tr>
        <td>ಉಪ್ಪಿಲ್ಲ ಹುಳಿಯಿಲ್ಲ</td>
        <td>ನೀರಸವಾದುದು; ಸ್ವಾರಸ್ಯವಿಲ್ಲದ್ದು</td>
      </tr>
      <tr>
        <td>ಉಪ್ಪುಖಾರ ಹಚ್ಚು</td>
        <td>ಇಲ್ಲದ್ದನ್ನು ಸೇರಿಸು</td>
      </tr>
      <tr>
        <td>ಉಭಯಸಂಕಟ</td>
        <td>ಸಂದಿಗ್ಧ ಸ್ಥಿತಿ</td>
      </tr>
      <tr>
        <td>ಉರಿದುಬೀಳು</td>
        <td>ಬಹುವಾಗಿ ರೇಗು</td>
      </tr>
      <tr>
        <td>ಉರಿ ಹೊತ್ತಿಸು</td>
        <td>ತುಂಬ ರೇಗಿಸು; ವೈಷಮ್ಯ ಹುಟ್ಟಿಸು</td>
      </tr>
      <tr>
        <td>ಎಂಜಲಿಗೆ ಕೈಯೊಡ್ಡು</td>
        <td>ಹಂಗಿಗೆ ಒಳಗಾಗು</td>
      </tr>
      <tr>
        <td>ಎಂಜಲುಕೈಯಲ್ಲಿ ಕಾಗೆ ಓಡಿಸದವ</td>
        <td>ಜಿಪುಣ</td>
      </tr>
      <tr>
        <td>ಎಕ್ಕಹುಟ್ಟಿಹೋಗು</td>
        <td>ಹಾಳಾಗು</td>
      </tr>
      <tr>
        <td>ಎಡವಿದ ಕಡ್ಡಿ ಎತ್ತದಿರು</td>
        <td>ಸೋಮಾರಿಯಾಗು</td>
      </tr>
      <tr>
        <td>ಎತ್ತಂಗಡಿಯಾಗು</td>
        <td>ವರ್ಗವಾಗು; ದಿವಾಳಿ ತೆಗೆ</td>
      </tr>
      <tr>
        <td>ಎತ್ತಿದ ಕೈ</td>
        <td>ಪ್ರಚೋದನೆ ನೀಡಿದ ಕೈ</td>
      </tr>
      <tr>
        <td>ಎತ್ತಿದ ಕೈ</td>
        <td>ಪ್ರವೀಣ</td>
      </tr>
      <tr>
        <td>ಎತ್ತಿದವರ ಕೈಗೂಸು</td>
        <td>ಸ್ವಬುದ್ಧಿಯಿಲ್ಲದವ</td>
      </tr>
      <tr>
        <td>ಎದುರುಹಾಕಿಕೊಳ್ಳು</td>
        <td>ವಿರೋಧ ಕಟ್ಟಿಕೊಳ್ಳು</td>
      </tr>
      <tr>
        <td>ಎದೆಗಟ್ಟಿ ಮಾಡಿಕೊಳ್ಳು</td>
        <td>ಧೈರ್ಯ ತಂದುಕೊಳ್ಳು</td>
      </tr>
      <tr>
        <td>ಎದೆತಟ್ಟಿ ಹೇಳು</td>
        <td>ಧೈರ್ಯದಿಂದ ಹೇಳು</td>
      </tr>
      <tr>
        <td>ಎದೆತುಂಬಿಬರು</td>
        <td>ಭಾವೋದ್ವೇಗವುಂಟಾಗು</td>
      </tr>
      <tr>
        <td>ಎದೆಭಾರವಾಗು</td>
        <td>ದುಃಖವಾಗು</td>
      </tr>
      <tr>
        <td>ಎದೆಮಾಡು</td>
        <td>ಸಾಹಸಮಾಡು</td>
      </tr>
      <tr>
        <td>ಎದೆಯ ಮೇಲಿನ ಭಾರ ಇಳಿ</td>
        <td>ಹೊಣೆಗಾರಿಕೆ ಕಡಿಮೆಯಾಗು</td>
      </tr>
      <tr>
        <td>ಎದೆಯ ಮೇಲೆ ಕುಳಿತುಕೊಳ್ಳು</td>
        <td>ಮೇಲ್ವಿಚಾರಣೆ ನಡೆಸಿ ಕೆಲಸ ತೆಗೆದುಕೊಳ್ಳು ; ಅತಿ ಅವಸರ ಪಡಿಸು</td>
      </tr>
      <tr>
        <td>ಓಬಿರಾಯನ ಕಾಲ</td>
        <td>ಬಹಳ ಪ್ರಾಚೀನ ಕಾಲ</td>
      </tr>
      <tr>
        <td>ಕಂಕಣಬದ್ಧನಾಗು</td>
        <td>ಸಂಕಲ್ಪ ಮಾಡು</td>
      </tr>
      <tr>
        <td>ಕಂತಪುರಾಣ</td>
        <td>ಯಾರಿಗೂ ಬೇಡವಾದ ಹಳೆಯ ವಿಚಾರ</td>
      </tr>
      <tr>
        <td>ಕಂತೆಬಿಚ್ಚು</td>
        <td>ಹಳೆಯ ಮತ್ತು ಸುಳ್ಳಾದ ವಿಷಯವನ್ನು ಹೇಳತೊಡಗು</td>
      </tr>
      <tr>
        <td>ಕಂಬಕೀಳು</td>
        <td>ಓಡಿಹೋಗು</td>
      </tr>
      <tr>
        <td>ಕಗ್ಗಂಟು</td>
        <td>ಬಗೆಹರಿಸಲಾಗದ ಸಮಸ್ಯೆ</td>
      </tr>
      <tr>
        <td>ಕಚ್ಚೆಕಟ್ಟು</td>
        <td>ಸಿದ್ಧನಾಗು</td>
      </tr>
      <tr>
        <td>ಕಟ್ಟಿಟ್ಟ ಬುತ್ತಿ</td>
        <td>ಅನುಭವಿಸಲೇಬೇಕಾಗಿರುವುದು</td>
      </tr>
      <tr>
        <td>ಕಟ್ಟಿಡು</td>
        <td>ಮಾಸಲಾಗಿಡು ; ಬದಿಗಿರಿಸು</td>
      </tr>
      <tr>
        <td>ಕಟ್ಟುಕತೆ</td>
        <td>ಸುಳ್ಳುಮಾತು ; ಸುಳ್ಳು ಪ್ರಸಂಗ</td>
      </tr>
      <tr>
        <td>ಕಟ್ಟೆಪುರಾಣ</td>
        <td>ಕಾಡುಹರಟೆ ; ವ್ಯರ್ಥಚರ್ಚೆ</td>
      </tr>
      <tr>
        <td>ಕಡಿದು ತೋರಣಕಟ್ಟು</td>
        <td>ಶಿಕ್ಷಿಸು</td>
      </tr>
      <tr>
        <td>ಕಡಿವಾಣ ಹಾಕು</td>
        <td>ಹತೋಟಿಯಲ್ಲಿಡು</td>
      </tr>
      <tr>
        <td>ಕಣಕ್ಕೆ ಇಳಿ</td>
        <td>ಕರೆಗೆ ಸಿದ್ಧನಾಗಿ ನಿಲ್ಲು ; ಹೋರಾಟಕ್ಕೆ ತೊಡಗು</td>
      </tr>
      <tr>
        <td>ಕಣ್ಣಾಡಿಸು</td>
        <td>ಸ್ಕೂಲವಾಗಿ ಪರಿಶೀಲಿಸು ; ಮೇಲು ಮೇಲಕ್ಕೆ ನೋಡು</td>
      </tr>
      <tr>
        <td>ಕಣ್ಣಿಗೆ ಮಣ್ಣೆರಚು</td>
        <td>ಮೋಸಮಾಡು</td>
      </tr>
      <tr>
        <td>ಕಣ್ಣಿಗೆಹಬ್ಬವಾಗು</td>
        <td>(ಸುಂದರ ದೃಶ್ಯಗಳನ್ನು) ನೋಡಿ ಬಹಳ ಸಂತೋಷವುಂಟಾಗು</td>
      </tr>
      <tr>
        <td>ಕಣ್ಣಿಗೆ ಹೊಡೆ</td>
        <td>ಸ್ಪಷ್ಟವಾಗಿ ಕಾಣಿಸಿಕೊಳ್ಳು</td>
      </tr>
      <tr>
        <td>ಕಣ್ಣಿನಲ್ಲಿ ಎಣ್ಣೆ ಹಾಕಿನೋಡು</td>
        <td>ಜಾಗರೂಕತೆಯಿಂದ ಹುಡುಕು ; ಸೂಕ್ಷ್ಮವಾಗಿ ಪರಿಶೀಲಿಸು</td>
      </tr>
      <tr>
        <td>ಕಣ್ಣಿನಲ್ಲಿ ಕಣ್ಣಿಟ್ಟು ನೋಡು</td>
        <td>ಬಹಳ ಎಚ್ಚರಿಕೆಯಿಂದ ನೋಡು</td>
      </tr>
      <tr>
        <td>ಕಣ್ಣಿನಲ್ಲಿ ರಕ್ತಬರು</td>
        <td>ಬಹಳ ಯಾತನೆಯಾಗು ; ಬಹಳ ಕಷ್ಟಪಡು</td>
      </tr>
      <tr>
        <td>ಕಣ್ಣಿನಿಂದ ಕೆಂಡಕಾರು</td>
        <td>ಬಹಳ ಸಿಟ್ಟಾಗು</td>
      </tr>
      <tr>
        <td>ಕಣ್ಣೀರಿನಲ್ಲಿ ಕೈತೊಳೆ</td>
        <td>ಬಹಳ ದುಃಖವನ್ನೂ ಕಷ್ಟವನ್ನೂ ಅನುಭವಿಸು</td>
      </tr>
      <tr>
        <td>ಕಣ್ಣುಕಣ್ಣು ಬಿಡು</td>
        <td>ಮಿಡುಕಾಡು ; ಒದ್ದಾಡು ; ಪರದಾಡು</td>
      </tr>
      <tr>
        <td>ಕಣ್ಣುಕೀಳು</td>
        <td>ನೋಟವನ್ನು ಬೇರೆಡೆಗೆ ಬದಲಿಸು ; ಕಣ್ಣು ಕೆಂಡಮಾಡು</td>
      </tr>
      <tr>
        <td>ಬಹಳ ಸಿಟ್ಟಾಗು . ಕಣ್ಣು ಕೆಂಪಾಗು</td>
        <td>ಕೋಪವುಂಟಾಗು</td>
      </tr>
      <tr>
        <td>ಕಣ್ಣುಗುಡ್ಡೆ ಮೇಲಕ್ಕೆ ಸಿಕ್ಕಿಕೊಳ್ಳು</td>
        <td>ಕಷ್ಟಕ್ಕೆ ಸಿಕ್ಕಿಕೊಳ್ಳು ಬಹಳ ಕಷ್ಟವಾಗು</td>
      </tr>
      <tr>
        <td>ಗಾಯದ ಮೇಲೆ ಬರೆ ಎಳೆ</td>
        <td>ಕಷ್ಟದ ಮೇಲೆ ಕಷ್ಟಕೊಡು</td>
      </tr>
      <tr>
        <td>ಗಾಳ ಹಾಕು</td>
        <td>ಪ್ರಲೋಭನೆ ತೋರಿಸು ; ಮರುಳು ಗೊಳಿಸು</td>
      </tr>
      <tr>
        <td>ಗಾಳಿ ಗುದ್ದಿ ಮೈ ನೋಯಿಸಿಕೊಳ್ಳು</td>
        <td>ವ್ಯರ್ಥವಾದ ಕೆಲಸದಲ್ಲಿ ತೊಡಗು</td>
      </tr>
      <tr>
        <td>ಗಾಳಿಗೆ ತೂರಿಬಿಡು</td>
        <td>ನಿರ್ಲಕ್ಷಿಸು</td>
      </tr>
      <tr>
        <td>ಗಾಳಿಗೋಪುರ ಕಟ್ಟು</td>
        <td>ಬರಿಯ ಕಲ್ಪನೆಗಳನ್ನು ಮಾಡುತ್ತಿರು</td>
      </tr>
      <tr>
        <td>ಗಾಳಿ ಬೀಸು</td>
        <td>ಪ್ರಭಾವ ಬೀರು ; ಮುಗಿಯಲು ಬಿಡದಿರು</td>
      </tr>
      <tr>
        <td>ಗಾಳಿ ಸಮಾಚಾರ</td>
        <td>ಖಚಿತವಲ್ಲದ ವಾರ್ತೆ</td>
      </tr>
      <tr>
        <td>ಗಾಳಿ ಹಾಕು</td>
        <td>ಉತ್ತೇಜಿಸು</td>
      </tr>
      <tr>
        <td>ಗುಟುಕುನೀರು ಕುಡಿಸು</td>
        <td>ಪ್ರತೀಕಾರಮಾಡು; ತೊಂದರೆಕೊಡು</td>
      </tr>
      <tr>
        <td>ಗುಡ್ಡವನ್ನು ಬೆಟ್ಟ ಮಾಡು</td>
        <td>ಸಣ್ಣದನ್ನು ದೊಡ್ಡದು ಮಾಡಿಹೇಳು</td>
      </tr>
      <tr>
        <td>ಗುಡಾರ ಎತ್ತು</td>
        <td>ಹೊರಡು</td>
      </tr>
      <tr>
        <td>ಗೋಣು ಚೆಲ್ಲು</td>
        <td>ಸಾಯು</td>
      </tr>
      <tr>
        <td>ಗೋತ ಹೊಡಿ</td>
        <td>ಸಾಯು</td>
      </tr>
      <tr>
        <td>ಗೋರಿ ತೋಡು</td>
        <td>ಹಾಳುಮಾಡು; ಚಕ್ರಹಾಕು</td>
      </tr>
      <tr>
        <td>ಹಾಳು ಮಾಡಿಕೊಳ್ಳು</td>
        <td>ತಪ್ಪಿಸಿಕೊಳ್ಳು; ಮೋಸಮಾಡು</td>
      </tr>
      <tr>
        <td>ಚಕಾರವೆತ್ತು</td>
        <td>ಆಕ್ಷೇಪಣೆ ಮಾಡು</td>
      </tr>
      <tr>
        <td>ಚಟ್ಟಿಯಾಗು</td>
        <td>ಅರೆದುಹೋಗು; ಕಷ್ಟಕ್ಕೆ ಸಿಕ್ಕು</td>
      </tr>
      <tr>
        <td>ಚಳ್ಳೆಹಣ್ಣು ತಿನ್ನಿಸು</td>
        <td>ಕಷ್ಟಕೊಡು; ಮೋಸಪಡಿಸು</td>
      </tr>
      <tr>
        <td>ಚಿಟಿಕೆ ಚಪ್ಪರ</td>
        <td>ಸಂಕ್ಷೇಪವಾಗಿ; ತೀವ್ರಗತಿಯಿಂದ</td>
      </tr>
      <tr>
        <td>ಚಿಟುಕು, ಮುಳ್ಳಾಡಿಸು</td>
        <td>ಬಿಡದೆ ಒಂದೇ ಸಮನೆ ತೊಂದರೆ ಪಡಿಸು</td>
      </tr>
      <tr>
        <td>ಜನ್ಮ ಜಾಲಾಡು</td>
        <td>ಚೆನ್ನಾಗಿ ಬಯ್ಯು</td>
      </tr>
      <tr>
        <td>ಜುಟ್ಟು ಕೈಗೆ ಸಿಗು</td>
        <td>ವಶವಾಗು; ಹಿಡಿತಕ್ಕೆ ಸಿಕ್ಕು</td>
      </tr>
      <tr>
        <td>ಜೇಬಿಗೆ ತೂತು ಬೀಳು</td>
        <td>ಹಣ ಖರ್ಚಾಗು</td>
      </tr>
      <tr>
        <td>ಜೇಬಿಗೆ ಹಾಕಿಕೊಳ್ಳು</td>
        <td>ವಶಮಾಡಿಕೊಳ್ಳು</td>
      </tr>
      <tr>
        <td>ಟೋಪಿ ಹಾಕು</td>
        <td>ಮೋಸಮಾಡು</td>
      </tr>
      <tr>
        <td>ಡಂಗುರ ಹೊಡ</td>
        <td>ಸಾರು; ಘೋಷಿಸು</td>
      </tr>
      <tr>
        <td>ಡುಂಕಿ ಹೊಡೆ</td>
        <td>ಅನುತ್ತೀರ್ಣನಾಗು</td>
      </tr>
      <tr>
        <td>ತಂಪುಹೊತ್ತಿನಲ್ಲಿ ನೆನೆ</td>
        <td>ಬಹಳ ಕೃತಜ್ಞತೆಯನ್ನು ತೋರಿಸು</td>
      </tr>
      <tr>
        <td>ತಣ್ಣೀರೆರಚು</td>
        <td>ಉತ್ಸಾಹಭಂಗಮಾಡು</td>
      </tr>
      <tr>
        <td>ತನ್ನ ಕಾಲ ಮೇಲೆ ತಾನು ನಿಲ್ಲು</td>
        <td>ಸ್ವಾವಲಂಬಿಯಾಗು</td>
      </tr>
      <tr>
        <td>ತಲೆ ಎತ್ತಿ ತಿರುಗು</td>
        <td>ಮರ್ಯಾದೆಯಿಂದ ಬದುಕು</td>
      </tr>
      <tr>
        <td>ತಲೆ ಓಡದಿರು</td>
        <td>ಏನೂ ತೋಚದಿರು</td>
      </tr>
      <tr>
        <td>ತಲೆಕೆರೆ</td>
        <td>ಚಿಂತಿಸು</td>
      </tr>
      <tr>
        <td>ತಲೆ ಕೊಡು</td>
        <td>ಭಾರವಹಿಸಿಕೊಳ್ಳು</td>
      </tr>
      <tr>
        <td>ತಲೆಗೆಕಟ್ಟು</td>
        <td>ಒತ್ತಾಯದಿಂದ ಹೇರು, ಜವಾಬ್ದಾರಿ ಹೊರಿಸು</td>
      </tr>
      <tr>
        <td>ತಲೆಗೆ ತರು</td>
        <td>ತೊಂದರೆಗೆ ಸಿಕ್ಕಿಸು</td>
      </tr>
      <tr>
        <td>ತಲೆಗೆಹಚ್ಚಿಕೊಳ್ಳು</td>
        <td>ಬಹಳವಾಗಿ ಚಿಂತಿಸು</td>
      </tr>
      <tr>
        <td>ತಲೆಗೆ ಹತ್ತು</td>
        <td>ಅರ್ಥವಾಗು. ತಲೆಗೆ ಹಿಡಿ, ಅರ್ಥವಾಗು</td>
      </tr>
      <tr>
        <td>ತಲೆ ತಪ್ಪಿಸು</td>
        <td>ಜಾರಿಕೊಳ್ಳು; ಕೈಗೆ ಸಿಗದಿರು</td>
      </tr>
      <tr>
        <td>ತಲೆತಾಕು</td>
        <td>ಕಷ್ಟಬರು; ಅನುಭವಕ್ಕೆ ಬರು</td>
      </tr>
      <tr>
        <td>ತಲೆ ತಿನ್ನು</td>
        <td>ಕಾಡು; ಕಾಡಿಸು</td>
      </tr>
      <tr>
        <td>ತಲೆ ತಿರುಗು</td>
        <td>ಬುದ್ದಿ ಬದಲಾಗು; ಅಹಂಕಾರ ಪುಟಾಗು</td>
      </tr>
      <tr>
        <td>ತಲೆ ತೊಳೆದುಕೊಳ್ಳು</td>
        <td>ಸಂಬಂಧವನ್ನು ಕಡಿದುಕೊಳ್ಳು</td>
      </tr>
      <tr>
        <td>ತಲೆದೂಗು</td>
        <td>ಮೆಚ್ಚುಗೆ ಸೂಚಿಸು</td>
      </tr>
      <tr>
        <td>ತಲೆ ಬಿದ್ದುಹೋಗು</td>
        <td>ತುಂಬ ಶ್ರಮವಾಗು</td>
      </tr>

      <tr>
        <td>ತಲೆ ಬಿಸಿಯಾಗು</td>
        <td>ಕೋಪ, ಕೆಲಸ ಮುಂತಾದವುಗಳಿಂದ ಮೆದುಳಿಗೆ ಹೆಚ್ಚು ಶ್ರಮವಾಗು, ಕಾತುರಕ್ಕೊಳಗಾಗು</td>
      </tr>
      <tr>
        <td>ತಲೆ ಬೋಳಿಸು</td>
        <td>ನಷ್ಟವಾಗು</td>
      </tr>
      <tr>
        <td>ತಲೆಭಾರ</td>
        <td>ದೊಡ್ಡ ಹೊಣೆಗಾರಿಕೆ</td>
      </tr>
      <tr>
        <td>ತಲೆ ಮಾಸಿದವ</td>
        <td>ದುರದೃಷ್ಟವಂತ, ಅನುನುಭವಿ</td>
      </tr>
      <tr>
        <td>ತಲೆಯ ಮೇಲೆ ಕಲ್ಲುಹಾಕು</td>
        <td>ನಾಶಮಾಡು, ತೊಂದರೆ ಯುಂಟುಮಾಡು</td>
      </tr>
      <tr>
        <td>ತಲೆಯಮೇಲೆ ಕೂರಿಸಿಕೊಳ್ಳು</td>
        <td>ಅತಿ ಮುದ್ದುಮಾಡು, ತುಂಬ ಸಲಿಗೆ ಕೊಡು</td>
      </tr>
      <tr>
        <td>ತಲೆಯ ಮೇಲೆ ಕೈ ಹೊತ್ತು ಕುಳಿತು ಕೊಳ್ಳು</td>
        <td>ಏನೂ ತೋಚದಂತಾಗು, ಚಿಂತಿತನಾಗು</td>
      </tr>
      <tr>
        <td>ತಲೆಯ ಮೇಲೆ ಚಪಡಿ ಎಳೆ</td>
        <td>ನಾಶಮಾಡು, ತೊಂದರೆ ಯುಂಟುಮಾಡು</td>
      </tr>
      <tr>
        <td>ನೆಲಸಮಮಾಡು</td>
        <td>ನಾಶಮಾಡು</td>
      </tr>
      <tr>
        <td>ನೊಗಕ್ಕೆ ತಲೆಕೊಡು</td>
        <td>ಭಾರ ವಹಿಸಿಕೊಳ್ಳು</td>
      </tr>
      <tr>
        <td>ನೊಣಹೊಡೆ</td>
        <td>ಕೆಲಸವಿಲ್ಲದೆ ಸೋಮಾರಿಯಾಗಿ ಕುಳಿತಿರು</td>
      </tr>
      <tr>
        <td>ಪಂಚಪ್ರಾಣ</td>
        <td>ಅತಿಪ್ರಿಯ ವಸ್ತು ಅಥವಾ ವ್ಯಕ್ತಿ</td>
      </tr>
      <tr>
        <td>ಪಂಚಾಂಗ ಓದು</td>
        <td>ಒಣಹರಟೆ ಹೊಡೆ</td>
      </tr>
      <tr>
        <td>ಪಂಚಾಂಗ ಬಿಚ್ಚು</td>
        <td>ಒಣಹರಟೆಗೆ ಪ್ರಾರಂಭಿಸು</td>
      </tr>
      <tr>
        <td>ಪಾಠಕಲಿಸು</td>
        <td>ಬುದಿಕಲಿಸು</td>
      </tr>
      <tr>
        <td>ಪಾತಾಳಕ್ಕಿಳಿದು ಹೋಗು</td>
        <td>ದುಃಖದಿಂದ ಕುಸಿದು ಹೋಗು</td>
      </tr>
      <tr>
        <td>ಪಾಷಾಣ ಹೃದಯ</td>
        <td>ಕಠಿಣ ಮನಸ್ಸು</td>
      </tr>
      <tr>
        <td>ಪಿಷ್ಟಪೇಷಣ</td>
        <td>ಹೇಳಿದ್ದನ್ನೇ ತಿರುಗಿ ತಿರುಗಿ ಹೇಳುವುದು</td>
      </tr>
      <tr>
        <td>ಪುಕ್ಕ ಕತ್ತರಿಸು</td>
        <td>ಗರ್ವ ಇಳಿಸು, ಹತೋಟಿಯಲ್ಲಿಡು</td>
      </tr>
      <tr>
        <td>ಪುಸ್ತಕದ ಬದನೆಕಾಯಿ</td>
        <td>ಪುಸ್ತಕದಲ್ಲಿ ಹೇಳಿದ್ದು ಮಾತ್ರ ಅನುಭವಕ್ಕೆ ಬಾರದ್ದು, ವ್ಯವಹಾರ ಜ್ಞಾನ ಇಲ್ಲದ ಪ್ರಪಂಚ ಕಾಣದವ</td>
      </tr>
      <tr>
        <td>ಪ್ರಾಣ ಹಿಂಡು</td>
        <td>ಬಹಳವಾಗಿ ಪೀಡಿಸು, ಕಾಟಕೊಡು</td>
      </tr>
      <tr>
        <td>ಪ್ರಾಣಹೋಗು</td>
        <td>ಬಹಳ ಕಷ್ಟವಾಗು</td>
      </tr>
      <tr>
        <td>ಬಡಪಟ್ಟಿಗೆ</td>
        <td>ಸುಲಭವಾಗಿ</td>
      </tr>
      <tr>
        <td>ಬಣ್ಣ ಕಟ್ಟು</td>
        <td>ಕಳೆಯೇರಿಸು</td>
      </tr>
      <tr>
        <td>ಉಪ್ಪೇಕ್ಷಿಸಿ ಹೇಳು</td>
        <td>ಇಲ್ಲದ್ದನ್ನು ಸೇರಿಸು</td>
      </tr>
      <tr>
        <td>ಬಣ್ಣದ ಚಿಟ್ಟೆ</td>
        <td>ಸೊಗಸುಗಾತಿ</td>
      </tr>
      <tr>
        <td>ಬಣ್ಣ ಬದಲಾಯಿಸು</td>
        <td>ಸ್ವಭಾವ ಅಥವಾ ಧೋರಣೆ ಯನ್ನು ಬದಲಾಯಿಸು; ಒಂದೊಂದು ಸಲ ಒಂದೊಂದು ತೆರನಾಗಿರು</td>
      </tr>
      <tr>
        <td>ಬಣ್ಣ ಬಯಲಿಗೆ ಬರು</td>
        <td>ಒಳಗುಟ್ಟು ಗೊತ್ತಾಗು; ರಹಸ್ಯ ಬಯಲಾಗು</td>
      </tr>
      <tr>
        <td>ಬದ್ಧಕಂಕಣನಾಗು</td>
        <td>ಸಂಕಲ್ಪ ಮಾಡಿದವನಾಗು</td>
      </tr>
      <tr>
        <td>ಬಲವಂತ ಮಾಘಸ್ನಾನ</td>
        <td>ಒತ್ತಾಯದ ಕೆಲಸ</td>
      </tr>
      <tr>
        <td>ಬಲಿಯಾಗು</td>
        <td>ನಾಶಕ್ಕೆ ಗುರಿಯಾಗು</td>
      </tr>
      <tr>
        <td>ಬಲೆಗೆ ಬೀಳು</td>
        <td>ವಶಕ್ಕೆ ಸಿಕ್ಕು</td>
      </tr>
      <tr>
        <td>ಬಳೆ ತೊಡಿಸು</td>
        <td>ಬಂಧಿಸು ; ಕೋಳ ಹಾಕು ; ಅವಮಾನ ಪಡಿಸು</td>
      </tr>
      <tr>
        <td>ಬಳಗೂಡು</td>
        <td>ಹೇಡಿಯಾಗು</td>
      </tr>
      <tr>
        <td>ಬಾದರಾಯಣ ಸಂಬಂಧ</td>
        <td>ಸುತ್ತು ಬಳಸಿನ ಸಂಬಂಧ</td>
      </tr>
      <tr>
        <td>ಬಾಯಿಕಟ್ಟು</td>
        <td>ಮಾತನಾಡದಿರು ; ದಾಕ್ಷಿಣ್ಯಕ್ಕೆ ಸಿಕ್ಕು ; ದಾಕ್ಷಿಣ್ಯಕ್ಕೆ ಸಿಕ್ಕಿಸು</td>
      </tr>
      <tr>
        <td>ಎದೆಯ ಮೇಲೆ ಕೈಯಿಟ್ಟು ಹೇಳು</td>
        <td>ಪ್ರಮಾಣ ಮಾಡಿ ಹೇಳು</td>
      </tr>
      <tr>
        <td>ಎಮ್ಮೆತಮ್ಮಣ್ಣ</td>
        <td>ಮಂದಬುದ್ಧಿಯವ</td>
      </tr>
      <tr>
        <td>ಎರಡು ನಾಲಗೆ</td>
        <td>ಒಂದೊಂದು ಸಲ ಒಂದೊಂದು ರೀತಿ ಹೇಳುವುದು</td>
      </tr>
      <tr>
        <td>ಎರಡುಬಗೆ</td>
        <td>ದ್ರೋಹವನ್ನು ಚಿಂತಿಸು ; ಭೇದ ಮಾಡು</td>
      </tr>
      <tr>
        <td>ಎರಡೆಣಿಸು</td>
        <td>ದ್ರೋಹವನ್ನು ಚಿಂತಿಸು ; ಭೇದ ಮಾಡು</td>
      </tr>
      <tr>
        <td>ಎಲ್ಲರ ಬಾಯಲ್ಲೂ ಇರು</td>
        <td>ಪ್ರಸಿದ್ಧವಾಗಿರು</td>
      </tr>
      <tr>
        <td>ಎಲೆ ಎಂಜಲು ಮಾಡು</td>
        <td>ನೆಪಮಾತ್ರಕ್ಕೆ ಊಟಮಾಡು</td>
      </tr>
      <tr>
        <td>ಎಳ್ಳಷ್ಟು</td>
        <td>ಅತ್ಯಲ್ಪ</td>
      </tr>
      <tr>
        <td>ಎಳ್ಳುನೀರು ಬಿಡು</td>
        <td>ಶಾಶ್ವತವಾಗಿ ಋಣವನ್ನು ಕಡಿದುಕೊಳ್ಳು ; ಕೈಬಿಡು</td>
      </tr>
      <tr>
        <td>ಏತಿಯೆಂದರೆ ಪ್ರೀತಿಯೆನ್ನು</td>
        <td>ಹೇಳಿದುದಕ್ಕೆ ವಿರುದ್ಧವಾಗಿ ಹೇಳು</td>
      </tr>
      <tr>
        <td>ಏಳನೆಯ ತಿಂಗಳಿನಲ್ಲಿ ಹುಟ್ಟಿದವ</td>
        <td>ಅವಸರಪಡುವವ</td>
      </tr>
      <tr>
        <td>ಏಳು ಕೆರೆಯ ನೀರು ಕುಡಿದವ</td>
        <td>ಬಹಳ ಅನುಭವ ಶಾಲಿ</td>
      </tr>
      <tr>
        <td>ಒಂಟಿಕಾಲಿನ ಮೇಲೆ ನಿಲ್ಲು</td>
        <td>ಬಹಳ ಕುತೂಹಲ ದಿಂದಿರು ; ಬಹಳ ಕಾತರದಿಂದಿರು</td>
      </tr>
      <tr>
        <td>ಒಂದು ಕಣ್ಣಿಗೆ ಬೆಣ್ಣೆ ಇನ್ನೊಂದು ಕಣ್ಣಿಗೆ ಸುಣ್ಣ ಹಚ್ಚು</td>
        <td>ಪಕ್ಷಪಾತಮಾಡು</td>
      </tr>
      <tr>
        <td>ಒಂದು ಕಾಲು ಒಳಗೆ , ಒಂದು ಕಾಲು ಹೊರಗೆ</td>
        <td>ಗಡಿಬಿಡಿಯಲ್ಲಿರು ; ಯಾವ ಪಕ್ಷಕ್ಕೂ ಸೇರದಿರು</td>
      </tr>
      <tr>
        <td>ಒಗ್ಗರಣೆ ಹಾಕು</td>
        <td>ಅತಿಶಯವಾಗಿ ಹೇಳು ; ಇಲ್ಲದಿರು ವುದನ್ನೂ ಬೆರೆಸಿ ಹೇಳು</td>
      </tr>
      <tr>
        <td>ಒಡಕುಬಾಯಿ</td>
        <td>ಗುಟ್ಟು ನಿಲ್ಲದ ಬಾಯಿ</td>
      </tr>
      <tr>
        <td>ಒಡಕುಹಣೆಯುವ</td>
        <td>ದುರದೃಷ್ಟವಂತ ; ಹತಭಾಗ್ಯ</td>
      </tr>
      <tr>
        <td>ಒಣಜಂಬ</td>
        <td>ವ್ಯರ್ಥ ಅಹಂಕಾರ</td>
      </tr>
      <tr>
        <td>ಒಣಜಗಳ</td>
        <td>ವ್ಯರ್ಥ ವಾದ</td>
      </tr>
      <tr>
        <td>ಕಣ್ಣುಗುಡ್ಡೆ ಮೇಲೆ ಹೋಗು</td>
        <td>ಬಹಳ ಕಷ್ಟವಾಗು</td>
      </tr>
      <tr>
        <td>ಕಣ್ಣುತಪ್ಪಿಸು</td>
        <td>ಮರೆಯಾಗು</td>
      </tr>
      <tr>
        <td>ಕಣ್ಣುತಾಗು</td>
        <td>ದೃಷ್ಟಿಯಾಗು</td>
      </tr>
      <tr>
        <td>ಕಣ್ಣುತಿರುಗು</td>
        <td>ಗಮನ ಹರಿ</td>
      </tr>
      <tr>
        <td>ಕಣ್ಣು ಬಿಡು</td>
        <td>ಹುಟ್ಟು; ದಯೆತೋರಿಸು, ಲಕ್ಷದಲ್ಲಿ ತಂದುಕೊಳ್ಳು</td>
      </tr>
      <tr>
        <td>ಕಣ್ಣು ಬೀಳು</td>
        <td>ಲಕ್ಷ ಬೀಳು</td>
      </tr>
      <tr>
        <td>ಕಣ್ಣು ಮುಚ್ಚಿ</td>
        <td>ಹಿಂದೆ ಮುಂದೆ ನೋಡದೆ</td>
      </tr>
      <tr>
        <td>ಕಣ್ಣುಮುಚ್ಚು</td>
        <td>ಸಾಯು</td>
      </tr>
      <tr>
        <td>ಕ ಕಣ್ಣುರಿ</td>
        <td>ಅಸೂಯೆ; ಹೊಟ್ಟೆಕಿಚ್ಚು</td>
      </tr>
      <tr>
        <td>ಕಣ್ಣುಹಾಕು</td>
        <td>ಆಶಿಸು</td>
      </tr>
      <tr>
        <td>ಕಣ್ಣುಹಾಯಿಸು</td>
        <td>ಮೇಲು ಮೇಲಕ್ಕೆ ನೋಡು; ಸೂಲವಾಗಿ ಪರಿಶೀಲಿಸು</td>
      </tr>
      <tr>
        <td>ಕಣ್ಮರೆಸು</td>
        <td>ಸಮಾಧಾನಮಾಡು</td>
      </tr>
      <tr>
        <td>ಕಣ್ಮಣಿ</td>
        <td>ಪ್ರೀತಿಪಾತ್ರವಾದದ್ದು</td>
      </tr>
      <tr>
        <td>ಕತ್ತರಿಹಾಕು</td>
        <td>ಕದಿ; ಕಿತ್ತುಕೊಳ್ಳು</td>
      </tr>
      <tr>
        <td>ಕತ್ತಿಕಟ್ಟು</td>
        <td>ಯುದ್ಧಕ್ಕೆ ಸಿದ್ಧವಾಗು; ದ್ವೇಷಿಸು</td>
      </tr>
      <tr>
        <td>ಕತ್ತಿ ಮಸೆ</td>
        <td>ಹಗೆಸಾಧಿಸು</td>
      </tr>
      <tr>
        <td>ಕತ್ತೆದುಡಿತ</td>
        <td>ವಿಪರೀತ ಕೆಲಸ</td>
      </tr>
      <tr>
        <td>ಕನಸಿನ ಗಂಟು</td>
        <td>ಅಲಭ್ಯವಾದುದು</td>
      </tr>
      <tr>
        <td>ಕನಸಿನ ಗೋಪುರ</td>
        <td>ಭ್ರಮೆ; ಫಲಿಸದ ಆಸೆ</td>
      </tr>
      <tr>
        <td>ಕನ್ನಡಿಯೊಳಗಿನ ಗಂಟು</td>
        <td>ಅಲಭ್ಯವಾದುದು</td>
      </tr>
      <tr>
        <td>ಕಪಾಲಮೋಕ್ಷ</td>
        <td>ಕೆನ್ನೆಗೆ ಏಟು</td>
      </tr>
      <tr>
        <td>ಕಪಿಮುಷ್ಟಿ</td>
        <td>ಬಿಗಿಯಾದ ಹಿಡಿತ</td>
      </tr>
      <tr>
        <td>ಕಬ್ಬಿಣದ ಕಡಲೆ</td>
        <td>ತುಂಬ ಗಹನವಾದ ಸಂಗತಿ; ಅತ್ಯಂತ ಕಠಿನವಾದ ವಿಷಯ</td>
      </tr>
      <tr>
        <td>ಕರುಳು ಕತ್ತರಿಸು</td>
        <td>ಮನಸ್ಸಿಗೆ ತೀಕ್ಷ್ಮವಾದ ನೋವುಂಟು ಮಾಡು</td>
      </tr>
      <tr>
        <td>ಕರುಳು ಕಿತ್ತುಬರು</td>
        <td>ಬಹಳ ದುಃಖವಾಗು</td>
      </tr>
      <tr>
        <td>ಕರುಳುಹಿಂಡು</td>
        <td>ಬಹಳ ಸಂಕಟವಾಗು; ಹೃದಯ ಕಲಕು</td>
      </tr>
      <tr>
        <td>ಕಲ್ಲುಮನಸ್ಸು</td>
        <td>ಕಠಿಣ ಮನಸ್ಸು</td>
      </tr>
      <tr>
        <td>ಕಲ್ಲುಹಾಕು</td>
        <td>ವಿಘ್ನವುಂಟುಮಾಡು</td>
      </tr>
      <tr>
        <td>ಕಸದ ಬುಟ್ಟಿಯಲ್ಲಿ ಹಾಕು</td>
        <td>ಅಲಕ್ಷಿಸು ತಿರಸ್ಕರಿಸು</td>
      </tr>
      <tr>
        <td>ಕಾಮಾಲೆಕಣ್ಣಿನಿಂದ ನೋಡು</td>
        <td>ಸಹಜವಲ್ಲದ ದೃಷ್ಟಿಯಿಂದ ನೋಡು</td>
      </tr>

      <tr>
        <td>ಕಾಲಾಡು</td>
        <td>ತಿರುಗಾಡು; ಸುತ್ತಾಡು</td>
      </tr>
      <tr>
        <td>ಕಾಲಿಗೆ ಬುದ್ಧಿಹೇಳು</td>
        <td>ಓಡು</td>
      </tr>
      <tr>
        <td>ಕಾಲುಕಟ್ಟು</td>
        <td>ಯಾಚಿಸು; ದೈನ್ಯದಿಂದ ಕೇಳು</td>
      </tr>
      <tr>
        <td>ಕಾಲೂರು</td>
        <td>ನೆಲೆಯಾಗಿ ನಿಲ್ಲು</td>
      </tr>
      <tr>
        <td>ಕಾಲೆಳೆದುಕೊಂಡು ಹೋಗು</td>
        <td>ನಿಧಾನವಾಗಿ ನಡೆ</td>
      </tr>
      <tr>
        <td>ಕಾಸಿಗೂ ಕಡೆ</td>
        <td>ಅಪ್ರಯೋಜಕ</td>
      </tr>
      <tr>
        <td>ಕಾಸಿಗೊಂದು ಕೊಸರಿಗೆರಡು</td>
        <td>ಬಹಳ ಅಗ್ಗವಾಗಿ ಸಿಗುವ</td>
      </tr>
      <tr>
        <td>ಕಿಡಿಕಾರು</td>
        <td>ಸಿಟ್ಟಿಗೇಳು; ಉರಿದುಬೀಳು</td>
      </tr>
      <tr>
        <td>ಕಿರುಬೆರಳಲ್ಲಿ ಕುಣಿಸು</td>
        <td>ಹೇಳಿದಂತೆ ಕೇಳುವ ಹಾಗೆ ಮಾಡು</td>
      </tr>
      <tr>
        <td>ಕಿವಿಕಚ್ಚು</td>
        <td>ಚಾಡಿ ಹೇಳು</td>
      </tr>
      <tr>
        <td>ಕಿವಿಕೊಟ್ಟು ಕೇಳು</td>
        <td>ಗಮನವಿಟ್ಟು ಕೇಳು</td>
      </tr>
      <tr>
        <td>ಕಿವಿಕೊಡು</td>
        <td>ತಲ್ಲೀನತೆಯಿಂದ ಕೇಳು</td>
      </tr>
      <tr>
        <td>ಕಿವಿಗೆ ಬೀಳು</td>
        <td>ಆಕಸ್ಮಿಕವಾಗಿ ಕೇಳು</td>
      </tr>
      <tr>
        <td>ಕಿವಿಗೆ ಹಬ್ಬವಾಗು</td>
        <td>ಕೇಳಿ ಸಂತೋಷವುಂಟಾಗು</td>
      </tr>
      <tr>
        <td>ಕಿವಿ ನೆಟ್ಟಗಾಗು</td>
        <td>ಕೇಳುವ ಆಸಕ್ತಿ ಹೆಚ್ಚಾಗು</td>
      </tr>
      <tr>
        <td>ಕಿವಿಯ ಮೇಲೆ ಹಾಕಿಕೊಳ್ಳು</td>
        <td>ಸರಿಯಾಗಿ ಕೇಳು</td>
      </tr>
      <tr>
        <td>ಕುಡಿವ ನೀರು ಅಲ್ಲಾಡದೆ</td>
        <td>ಏನೂ ತೊಂದರೆಯಾಗಿದೆ</td>
      </tr>
      <tr>
        <td>ಕುತ್ತಿಗೆ ಕೊಯ್ಯ</td>
        <td>ಮೋಸಮಾಡು; ವಿಶ್ವಾಸಘಾತ ಮಾಡು</td>
      </tr>
      <tr>
        <td>ಕುತ್ತಿಗೆಗೆ ಕಟ್ಟಿಕೊಳ್ಳು</td>
        <td>ಹೊಣೆ ಹೊತ್ತು ಕೊಳ್ಳು; ಮದುವೆ ಯಾಗು</td>
      </tr>
      <tr>
        <td>ಕುರುಡುನಂಬಿಕೆ</td>
        <td>ವಿವೇಕವಿಲ್ಲದ ನಂಬಿಕೆ</td>
      </tr>
      <tr>
        <td>ಕೂದಲು ಕೊಂಕದಿರು</td>
        <td>ಕೆಡುಕಾಗದಿರು</td>
      </tr>
      <tr>
        <td>ಕೂಪಮಂಡೂಕ</td>
        <td>ಸಂಕುಚಿತ ವಿಚಾರವುಳ್ಳವ; ಲೋಕಾನು ಭವವಿಲ್ಲದವ</td>
      </tr>
      <tr>
        <td>ಕೈ ಇಡು</td>
        <td>ಕಾರ್ಯದಲ್ಲಿ ತೊಡಗು; ಉದ್ಯೋಗಿಸು</td>
      </tr>
      <tr>
        <td>ಕೈಕಚ್ಚು</td>
        <td>ನಷ್ಟವಾಗು</td>
      </tr>
      <tr>
        <td>ಕೈಕಟ್ಟಿ ಕೂಡು</td>
        <td>ನಿರುಪಾಯನಾಗು</td>
      </tr>
      <tr>
        <td>ಕೈಕಟ್ಟು</td>
        <td>ನಿಯಂತ್ರಿಸು; ತಡೆ</td>
      </tr>
      <tr>
        <td>ಕೈಕಾಲು ಬಿಡು</td>
        <td>ಧೈರ್ಯಗೆಡು</td>
      </tr>
      <tr>
        <td>ಕೈಕೊಡು</td>
        <td>ಮೋಸಮಾಡು</td>
      </tr>
      <tr>
        <td>ಕೈಗೆ ಕರಟ ಕೊಡು</td>
        <td>ತೀರ ಬಡವನನ್ನಾಗಿ ಮಾಡು</td>
      </tr>
  </tbody>
</table>

</body>
</html>
