<!DOCTYPE html>
<html>
<head>
<style>
h1 {
  text-align: center;
  font-weight: bold;
  font-size: 80px;
}

p.main {
  text-align: center;
  font-weight: bold;
  font-size: 35px;
}

p.adp {
  text-align: center;
  font-weight: bold;
  font-size: 35px;
}
p{
  font-weight: bold;
  margin-left: 5%;
}
p.ade {
  text-align: center;
  font-weight: bold;
  font-size: 30px;
}

p.adf {
  text-align: center;
  font-weight: bold;
  font-size: 20px;
}

p.adg {
  text-align: center;
  font-weight: bold;
  font-size: 20px;
}

p.adh {
  text-align: center;
  font-weight: bold;
  font-size: 20px;
}

p.adi {
  text-align: center;
  font-weight: bold;
  font-size: 20px;
}

p.adj {
  text-align: center;
  font-weight: bold;
  font-size: 20px;
}

p.adk {
  text-align: center;
  font-weight: bold;
  font-size: 20px;
}

p.adl {
  text-align: center;
  font-weight: bold;
  font-size: 20px;
}

p.adm {
  text-align: center;
  font-weight: bold;
  font-size: 20px;
}

p.adn {
  text-align: center;
  font-weight: bold;
  font-size: 20px;
}

.navbar {
  position: fixed;
  top: 0;
  right: 0;
  background-color: #f9f9f9;
  padding: 10px;
  z-index: 9999;
}

.navbar a {
  padding: 10px;
  text-decoration: none;
  color: black;
  font-size: 20px;
  font-weight: bold;
}

.navbar a:hover {
  background-color: #ddd;
}

.navbar a.active {
  background-color: #3a3736;
  color: white;
}

html {
  background: url(/static/images/woodplank.jpg) no-repeat center fixed;
  background-size: cover;
  height: 1000px;
}

table, th, td {
  border: 1px solid white;
  border-collapse: collapse;
}
th, td {
  background-color: #96D4D4;
  font-size: large;
}
</style>
<title>ಸಮನಾರ್ಥಕ ಪದಗಳು</title>
<link rel="stylesheet" href="static/scss/newfile1.css">
<link rel="shortcut icon" href="..\static\images\kannada.webp" type="image/x-icon">

</head>
<body>

  <div class="new">
    <h1 class="box_color">ಸಮನಾರ್ಥಕ ಪದಗಳು<hr></h1>
    <button type="button" onclick="window.location.href='http://127.0.0.1:5000/homes';">ಮುಖ್ಯಪುಟ</button>
    <button type="button" onclick="window.location.href='http://127.0.0.1:5000/identifyLanguages';">ಅಭ್ಯಾಸ ಪ್ರಾರಂಭಿಸು</button>
    <button type="button" onclick="window.location.href='http://127.0.0.1:5000';">ವ್ಯಾಕರಣ ಮುಖ್ಯಪುಟ</button>

  </div>
<br>
<h3 align="center">ಒಂದೇ ಭಾಷೆಯ ಪರ್ಯಾಯ ಪದ ಎರಡೂ ಒಂದೇ ಅರ್ಥವನ್ನು ಕೊಡುವ ಪದಗಳನ್ನು ಸಮಾನಾರ್ಥಕ ಪದಗಳು ಎಂದು ಕರೆಯುತ್ತಾರೆ.</h3>

                                                    <div style=" margin-left: 30%;margin-right: 30%;background-color: darkgrey;">
                                                      <h4 align="center">ಸಮನಾರ್ಥಕ ಪದಗಳ ಉಧಾಹರಣೆಗಳು</h4>
                                                      <p>1. ಮೇವು – ಆಹಾರ</p>

                                                      <p>2. ಅನಿವಾರ್ಯ- ತಪ್ಪಿಸಲಾಗದ</p>
                                                    <p>3. ಅಪಾಯ- ಕೇಡು , ಹಾನಿ , ತೊಂದರೆ</p>
                                                    <p>4. ತೋಚದೆ – ದಿಕ್ಕು ಕಾಣದೆ ಸಮೀಪ ಹತ್ತಿರ</p>
                                                    <p>5. ಕಂಡಿ- ರಂಧ್ರ , ತೂತು</p>
                                                    <p>6. ನಿತ್ಯ – ಪ್ರತಿದಿನ , ಯಾವಾಗಲೂ</p>
                                                    <p>7. ತಾರೆ – ನಕ್ಷತ್ರ , ಚುಕ್ಕೆ</p>
                                                    <p>8. ಗರನ – ಆಕಾಶ</p>
                                                    <p>9. ಪಟ – ಗಾಳಿಪಟ</p>
                                                    <p>10. ಪಚನ – ಅರಗುವಿಕೆ</p>
                                                    <p>11. ನಯನ – ಕಣು</p>
                                                    <p>12. ಉದಯ – ಬೆಳಗು</p>
                                                    <p>13. ಉರಗ – ಹಾವು</p>
                                                    <p>14. ಉರ – ಏದೆ</p>
                                                    <p>15. ವಚನ – ಮಾತು</p>
                                                    <p>16. ದವಸ – ಧಾನ್ಯ , ಕಾಳು ಕಡ್ಡಿ</p>
                                                    <p>17. ಅವಸರ – ಆತುರ</p>
                                                    <p>18. ವನಜ- ತಾವರೆ</p>
                                                    <p>19. ಬನ – ವನ</p>
                                                    <p>20. ನವ- ಒಂಬತ್ತು , ಹೊಸತು</p>
                                                    <p>21. ನರ- ಮನುಷ್ಯ</p>
                                                    <p>22. ನಗ – ಒಡವೆ</p>
                                                    <p>23. ಮಾಸ – ತಿಂಗಳು</p>
                                                    <p>24. ವಂದನೆ – ನಮಸ್ಕಾರ</p>
                                                    <p>25. ಸಲಹು – ಆರೈಕೆ</p>
                                                    <p>26.  ಸಂಗ್ರಹಿಸು – ಒಟ್ಟುಗೂಡಿಸು</p>
                                                    <p>27. ಬಿತ್ತು- ಬೀಜ ಹಾಕು</p>
                                                    <p>28. ಪೈರು- ಧಾನ್ಯದ ಬೆಳೆ</p>
                                                    <p>29. ದಿನಾಲೂ – ಪ್ರತಿ ದಿನ</p>
                                                    <p>30. ಜೋಕಾಲಿ – ಈಯಾಲೆ ತೂಗು ಮಣಿ</p>
                                                    <p>31. ಜಾಣ- ಬುದ್ಧಿವಂತ</p>
                                                    <p>32. ಗಾಬರಿ – ಹೆದರಿಕೆ</p>
                                                    <p>33. ಕ್ಷಮಿಸು – ಅಪರಾಧವನ್ನು ಮನ್ನಿಸು</p>
                                                    <p>34. ವೇಳೆ – ಕಾಲ , ಸಮಯ</p>
                                                    <p>35. ನೃಪ – ರಾಜ , ದೊರೆ , ಭೂಮಿಪ , ಅರಸ</p>
                                                    <p>36. ಪತಾಕೆ – ಧ್ವಜ , ಬಾವುಟ</p>
                                                    <p>37. ಬಾಣ – ಶರ , ಅಂಬು , ಕಣೆ , ಕೊಲು , ಮಾರ್ಗಣ</p>
                                                    <p>38. ಭುಜ – ಹೆಗಲು , ತೋಳು , ರಟ್ಟೆ , ಬಾಹು</p>
                                                    <p>39. ಮಗ – ಸುತ , ಕುಮಾರ , ಸೂನು , ತನುಜ , ಕುವರ</p>
                                                    <p>40. ಮಗಳು – ಸುತೆ , ಕುಮಾರಿ , ತನುಜೆ</p>
                                                    <p>41. ಮಗು – ಕಂದ , ಕೂಸು , ಹಸುಳೆ</p>
                                                    <p>42. ಮನ – ಮನಸ್ಸು , ಅಂತರಂಗ</p>
                                                    <p>43. ಮನೆ – ಗ್ರಹ , ಸದನ , ಆಲಯ , ನಿವಾಸ</p>
                                                    <p>44. ಮರ – ವೃಕ್ಷ ತರು , ದ್ರುಮ , ಪಾದಪ</p>
                                                    <p>45. ಮಲೆ – ಪರ್ವತ , ಬೆಟ್ಟ , ಶಿಖರ</p>
                                                    <p>46. ಮಸ್ತಕ – ತಲೆ , ಬುದ್ಧಿ , ಶಿರ</p>
                                                    <p>47. ಕುಸುಮ – ಸುಮ, ಹೂ</p>
                                                    <p>48. ಶಶಿ – ಚಂದ್ರ, ಸೋಮ</p>
                                                    <p>49. ಗಗನ – ಆಕಾಶ, ಆಗಸ, ದಿಗಂತ</p>
                                                    <p>50. ದೀಪ – ದೀವಿಗೆ, ಹಣತೆ, ಪಣತೆ</p>
                                                   <p>51. ಅನಾಹುತ – ತೊಂದರೆ, ಅಪಾಯ</p>
                                                    <p>52. ಕೊಳಕು – ಮಲಿನ, ಗಲೀಜು</p>
                                                    <p>53. ಗುಳ್ಳೆ – ಬೊಬ್ಬೆ, ಬೊಕ್ಕೆ</p>
                                                    <p>54. ಚಿಕಿತ್ಸೆ – ಆರೈಕೆ, ಶುಶ್ರೂಷೆ</p>
                                                    <p>55. ವೀಕ್ಷಿಸು- ನೋಡು , ಅವಲೋಕಿಸು</p>
                                                    <p>56. ತೀರ- ದಡ</p>
                                                    <p>57. ಪ್ರೋತ್ಸಾಹಿಸು- ಹರಿದುಂಬಿಸು , ಉತ್ತೇಜನ</p>
                                                    <p>58. ದುಡಿಮೆ- ಕೆಲಸ ಸಂಪಾದನೆ</p>
                                                    <p>59. ಗರಿಮೆ- ಹೆಮ್ಮೆ , ಹಿರಿಮೆ</p>
                                                    <p>60. ಕಸುಬು – ಕೆಲಸ , ಉದ್ಯೋಗ</p>
                                                    <p>61. ನೆರವು- ಸಹಾಯ , ಬೆಂಬಲ , ಆಧಾರ</p>
                                                    <p>62. ಸಲಹು- ಕಾಪಾಡು , ರಕ್ಷಿಸು</p>
                                                    <p>63. ಕೊಯ್ಯ- ಕತ್ತರಿಸು ,</p>
                                                    <p>64. ಸೀಳು ಹುಡುಕು – ಶೋಧಿಸು , ಅರಸು</p>
                                                    <p>65. ತವಕಿಸು- ಆತುರಪಡು</p>
                                                    <p>66. ಹಲ- ನೇಗಿಲು</p>
                                                    <p>67. ಮೆಚ್ಚುಗೆ- ಒಪ್ಪಿಗೆ , ಸಂತೋಷ</p>
                                                    <p>68. ಇರಿಸು – ಇಡು , ಹೇರು</p>
                                                    <p>69. ಕಲುಷಿತ- ಕದಡಿದ , ಮಲಿನ</p>
                                                    <p>70. ವಸನ – ಬಟ್ಟಿ</p>
                                                    <p>71. ಉಡುಗೆ- ಉಡುಪು</p>
                                                    <p>72. ಸ್ಪರ್ದೆ- ಪೈಪೋಟಿ</p>
                                                    <p>73. ಒಪ್ಪಂದ- ಸಮ್ಮತಿ , ಒಮ್ಮತ</p>
                                                    <p>74. ಅರಿವು – ತಿಳವಳಿಕೆ</p>
                                                    <p>75. ಮಾರಕ – ತೊಂದರೆ , ಅಪಾಯ</p>
                                                    <p>76. ಮುಖ – ವದನ , ಮೊಗ , ಮೊರೆ</p>
                                                    <p>77. ಯುದ – ಕದನ , ರಣ , ಸಮರ ,</p>
                                                    <p>78. ರಕ್ತ – ನೆತ್ತರು , ರುಧಿರ</p>
                                                    <p>79. ರಾಜ – ದೊರೆ , ನೃಪ , ಭೂಮಿಪ , ಅರಸ</p>
                                                    <p>80. ರೋಮ – ಕೂದಲು , ಕೇಶ</p>
                                                    <p>81. ಲೋಕ – ಜಗತ್ತು , ಭೂಮಿ , ಪ್ರಪಂಚ</p>
                                                    <p>82. ಲೋಚನ – ಕಣ್ಣು , ನಯನ , ಅಕ್ಷಿ</p>
                                                    <p>83. ವಾರಿಧಿ – ಸಮುದ್ರ , ಕಡಲು , ಸಾಗರ</p>
                                                    <p>84. ವಿಭು- ದೊರೆ , ನೃಪ , ಭೂಮಿಪ , ಅರಸ</p>
                                                    <p>85. ಸಾವು,- ಮರಣ , ಅಂತ್ಯ ನಿಧನ , ಮಡಿ</p>
                                                    <p>86. ಆಲೋಚನೆ- ಯೋಚಿಸುವುದು</p>
                                                    <p>87. ಅಳತೆ – ಪ್ರಮಾಣ , ಪರಿಮಿತಿ</p>
                                                    <p>88. ಶ್ರಮ- ದಣಿವು</p>
                                                    <p>89. ಅಡವಿ- ಕಾಡು</p>
                                                    <p>90. ಬದಿ- ಪಕ್ಕ</p>
                                                    <p>91. ಪರಿಮಳ- ಸುವಾಸನೆ</p>
                                                    <p>92. ಉಸಿರು- ಪ್ರಾಣ ಇಳೆ</p>
                                                    <p>93. ಖುಷಿ – ಹಿಗು ಹರ್ಷ</p>
                                                    <p>94. ಪದಾರ್ಥ- ವಸ್ತು</p>
                                                    <p>95. ರಾಶಿ – ಗುಂಪು , ಗುಪ್ಪೆ , ಸಮೂಹ</p>
                                                    <p>96. ರಿಪೇರಿ- ಸರಿಪಡಿಸುವಿಕೆ</p>
                                                    <p>97. ಸಲಕರಣೆ- ಉಪಕರಣ</p>
                                                    <p>98. ದಿನಿಸಿ- ಧಾನ್ಯದವಸ</p>
                                                    <p>99. ಬದಿ- ಪಕ್ಕ , ಮಗ್ಗಲು</p>
                                                    <p>100. ಸದ್ಯು- ಶಬ್ಯ , ಗದ್ದಲ</p>
                                                    <p>101. ಚಿಂತೆ – ಯೋಚನೆ, ದುಃಖ</p>
                                                    <p>102. ಜಲಚರ – ನೀರಿನಲ್ಲಿ ವಾಸಿಸುವ ಜೀವಿಗಳು</p>
                                                    <p>103. ತವಕ – ಆತುರ, ತರಾತುರಿ</p>
                                                    <p>104. ತಾಕೀತು – ಕಟ್ಟಪ್ಪಣೆ, ಎಚ್ಚರಿಕೆ</p>
                                                    <p>105. ತುರಿಕೆ – ನವೆ, ಕೆರೆತ</p>
                                                    <p>106. ದೌರ್ಜನ್ಯ – ದಬ್ಬಾಳಿಕೆ, ಹಿಂಸೆ</p>
                                                    <p>107. ಧುತ್ತನೆ – ಏಕಾಏಕಿ, ಇದ್ದಕ್ಕಿದ್ದಂತೆ</p>
                                                    <p>108. ಪಣತೊಡು – ದೃಢನಿರ್ಧಾರ ಕೈಗೊಳ್ಳು, ಪ್ರತಿಜ್ಞೆ ಮಾಡು</p>
                                                    <p>109. ಮಾಲಿನ್ಯ ರಹಿತ – ಮಲಿನತೆಯಿಲ್ಲದ, ಕೊಳೆಯಿಲ್ಲದ</p>
                                                    <p>110. ಮೂರ್ಛೆ – ಪ್ರಜ್ಞೆತಪ್ಪು, ಎಚ್ಚರತಪ್ಪು</p>
                                                    <p>111. ವಿಷಕನ್ಯೆ – ಇಡೀ ದೇಹ ವಿಷದಿಂದ ಕೂಡಿದವಳು</p>
                                                    <p>112. ಸಂಕುಲ – ಸಮೂಹ, ಗುಂಪು</p>
                                                    <p>113. ಸೋಂಕು – ಒಬ್ಬರಿ೦ದ ಮತ್ತೊಬ್ಬರಿಗೆ ಹರಡುವ ರೋಗ</p>
                                                    <p>114. ಶೋಷಣೆ – ತುಳಿತ, ಹಿಂಸೆ</p>
                                                    <p>115. ಅಂಚು – ಪಕ್ಕ, ಮೇಲೆ</p>
                                                    <p>116. ಅಧಿಪತಿ – ಒಡೆಯ, ನಾಯಕ</p>
                                                    <p>117. ಅವಕಾಶ – ಸಂದರ್ಭ, ಎಡೆ</p>
                                                    <p>118. ಆಕ್ರೋಶ – ಗರ್ಜನೆ, ಕೋಪಿಸುವಿಕೆ</p>
                                                    <p>119. ಉಪೇಕ್ಷೆ – ಅಲಕ್ಷ್ಯ, ಕಡೆಗಣಿಸುವಿಕೆ</p>
                                                    <p>120. ಕ್ಷೇಮಸಮಾಚಾರ – ಕುಶಲ, ಆರೋಗ್ಯ ಕುರಿತಾದ ವಿಷಯ</p>
                                                    <p>121. ಖಾರ – ತೀಕ್ಷ್ಣ, ಕಟು</p>
                                                    <p>122. ಗಳಿಸು – ಸಂಪಾದಿಸು, ಪಡೆ</p>
                                                    <p>123. ಚರ್ಚೆ – ವಾಗ್ವಾದ, ತರ್ಕ</p>
                                                    <p>124. ತಾಣ – ಸಾನ, ಸ್ಜಳ</p>
                                                    <p>125. ದೂರು – ನಿಂದಿಸು, ಆಪಾದನೆ</p>
                                                    <p>126. ಪಟಾಕಿ – ಉತ್ಸವಾದಿಗಳಲ್ಲಿ ಹಾರಿಸುವ ಸಣ್ಣ ಸಿಡಿಮದ್ದು</p>
                                                    <p>127. ಪರಿಶೀಲಿಸು – ಸೂಕ್ಷ್ಮವಾಗಿ ವಿಚಾರಿಸಿ ನೋಡುವುದು</p>
                                                    <p>128. ಪ್ರದರ್ಶಿಸು – ಕಾಣುವಂತೆ ಮಾಡು, ಗಮನಿಸುವಂತೆ ತೋರಿಸು</p>
                                                    <p>129. ಫಲಕ – ವಿವರ ಬರೆದು ಹಾಕುವ ಹಲಗೆ</p>
                                                    <p>130. ಫಲವತ್ತತೆ – ಫಲವುಳ್ಳ, ಸಾರವತ್ತಾದ</p>
                                                    <p>131. ಮದ್ದು – ಬಂದೂಕು, ಕೋವಿಗಳಲ್ಲಿ ತುಂಬುವ ಸ್ಫೋಟಕ ಪುಡಿ</p>
                                                    <p>132. ಮುದ್ದಿಸು – ಪ್ರೀತಿಸು, ಮುದ್ದಾಡು</p>
                                                    <p>133. ಮುನ್ನಡೆ – ಏಳಿಗೆ, ಪ್ರಗತಿ</p>
                                                    <p>134. ಮೆಚ್ಚುಗೆ – ತೃಪ್ತಿ, ಪ್ರಶಂಸೆ</p>
                                                    <p>135. ಸಿಡಿದುಹೋಗು – ಚಿಮ್ಮು ಸ್ಫೋಟಗೊಳ್ಳು</p>
                                                    <p>136. ಅಪ್ಪಿ – ತಬ್ಬಿಕೊಂಡು, ಆಲಿಂಗನ ಮಾಡಿ</p>
                                                    <p>137. ಉದಯಿಸು – ಹುಟ್ಟು, ಮೂಡು</p>
                                                    <p>138. ಕವಿದಿರುವ – ಆವರಿಸಿರುವ, ಮರೆಮಾಡಿರುವ</p>
                                                    <p>139. ಕಷಾಯ – ಔಷಧಿ, ಗಿಡಮೂಲಿಕೆಗಳನ್ನು ಭಟ್ಟಿ ಇಳಿಸಿ ತೆಗೆದ ರಸ</p>
                                                    <p>140. ಕೆಂಬಣ್ಣ – ಕೆಂಪು ಬಣ್ಣ, ರಕ್ತವರ್ಣ</p>
                                                    <p>141. ಚಾಚಿ – ನೀಡಿ, ಮುಂದೆ ಒಡ್ಡಿ</p>
                                                    <p>142. ಆತಂಕ – ಭಯ, ತಳಮಳ</p>
                                                    <p>143. ಕಂಟಕ – ಕೇಡು, ವಿಪತ್ತು</p>
                                                    <p>144. ಜಗಳ – ಕಲಹ</p>
                                                    <p>145. ಜಂಬ – ಗರ್ವ, ಒಣ ಆಡಂಬರ</p>
                                                    <p>146. ನೇಗಿಲು – ಭೂಮಿಯನ್ನು ಉಳುವ ಸಾಧನ</p>
                                                    <p>147. ರೈತ – ಬೇಸಾಯ ಮಾಡುವವನು,</p>
                                                    <p>148. ವಿಭೂತಿ – ಭಸ್ಮ, ಬೂದಿ</p>
                                                    <p>149. ಹಿಕ್ಕೆ – ಹಕ್ಕಿಗಳ ಮಲ</p>
                                                    <p>150. ಅಂತರ್ಧಾನ – ಕಣ್ಮರೆಯಾಗು, ಮಾಯವಾಗು</p>
                                                    <p>151. ಕರ್ಣ – ಕಿವಿ</p>
                                                    <p>152. ತೈಲ – ಎಣ್ಣೆ</p>
                                                    <p>153. ಶಿರ – ತಲೆ, ಮುಡಿ</p>
                                                    <p>154. ಮಹಿಷಿ – ಎಮ್ಮೆ</p>
                                                    <p>155. ಎರವಲು – ಸಾಲ</p>
                                                    <p>156. ಎಸಳು – ಹೂವಿನ ದಳ</p>
                                                    <p>157. ಏರಿ – ದಿಬ್ಬ</p>
                                                    <p>158. ಐರಾವತ – ದೇವಲೋಕದ ಆನೆ</p>
                                                    <p>159. ಒಸಗೆ – ಹಸೆ</p>
                                                    <p>160. ಒಡಲು – ಹೊಟ್ಟೆ</p>
                                                    <p>161. ಒಲವು – ಪ್ರೀತಿ</p>
                                                    <p>162. ಕಲಹ – ಜಗಳ, ಕದನ</p>
                                                    <p>163. ಪುಷ್ಪ-ಹೂ, ಪುಲ್ಲ, ಅಲರ</p>
                                                    <p>164. ಸಖಿಲ-ನೀರು, ಜಲ</p>
                                                    <p>165. ವಕ್ಷ್ಯ-ಮುಖ, ಆನನ</p>
                                                    <p>166. ಪ್ರಮೋದ್-ಸಂತಸ, ಹರುಷ</p>
                                                    <p>167. ಅಂಕುರ – ಮೊಳಕೆ</p>
                                                    <p>168. ಅಂತಃಕರಣ – ಹೃದಯ ದಾಟಿ</p>
                                                    <p>169. ಅಂಗಾರಕ – ಮಂಗಳ ಗ್ರಹ</p>
                                                    <p>170. ಅಂಜನ – ಒಂದು ಬಗೆಯ ಕಪ್ಪು</p>
                                                    <p>171. ಶಾಶ್ವತ – ಗಟ್ಟಿಯಾಗಿ ನೆಲೆಯೂರಿದ</p>
                                                    <p>172. ಅಪ್ರತಿಮ – ಸಾಟಿ ಇಲ್ಲದ</p>
                                                    <p>173. ಅರಿವೆ – ಬಟ್ಟೆ</p>
                                                    <p>174. ಅರಿ – ತಿಳಿ , ಶತ್ರು , ಕತ್ತರಿಸು</p>
                                                    <p>175. ಅಳೆ – ಹಿಗ್ಗಿಸು , ಎಳೆ , ಅತಿ ಯಾದ ಬಳಕೆ</p>
                                                    <p>176. ಅಂತರಾಳ – ಒಳಭಾಗ</p>
                                                    <p>177. ಅಮೂಲ್ಯ – ಬೆಲೆಕಟ್ಟಲಾಗದ</p>
                                                    <p>178. ಕಿವಿ – ಕರ್ಣ</p>
                                                    <p>179. ಕಸವರ – ಚಿನ್ನ , ಸಂಪತ್ತು</p>
                                                    <p>180. ಕಾರ್ಯ – ಕೆಲಸ</p>
                                                    <p>181. ಕುಂಜರ – ಆನೆ , ಗಜ</p>
                                                    <p>182. ಖಿನ್ನ – ದುಃಖಿತ</p>
                                                    <p>183. ಗೇಹ – ಮನೆ , ಗೃಹ</p>
                                                    <p>184. ಹುಲ್ಲು – ಘಾತ</p>
                                                    <p>185. ಚಂಪಕ – ಸಂಪಿಗೆ</p>
                                                    <p>186. ಛಾಯೆ -ನೆರಳು</p>
                                                    <p>187. ಕುಶ – ದರ್ಬೆ</p>
                                                    <p>188. ಘತ – ತುಪ್ಪ</p>
                                                    <p>189. ಟಾವು – ಸ್ಥಳ</p>
                                                    <p>190. ಹರಿ-ವಹಿಸು,ಚಲಿಸು</p>
                                                    <p>191. ರಮಣ-ಪ್ರಿಯಕರ,ಗಂಡ</p>
                                                    <p>192. ಕುಂದು-ಕುಗ್ಗು,ಇಂಗು</p>
                                                    <p>193. ವಲ್ಲಬೆ-ಕಾಂತೆ, ಹೆಂಡತಿ</p>
                                                    <p>194. ಖತಿ-ಕೋಪ,ರೋಷ</p>
                                                    <p>195. ಕಾಲ-ಹೊತ್ತು,ಸಮಯ</p>
                                                    <p>196. ಗಂಡ-ವೀರ,ಶೂರ</p>
                                                    <p>197. ಮೊರೆ-ಆಶ್ರಯಿಸು,ಬೇಡು</p>
                                                    <p>198. ಕಾಂತೆ-ಹೆಂಡತಿ,ಪತ್ನಿ</p>
                                                    <p>199. ನಾರಿ-ಹೆಣ್ಣು,ಮಹಿಳೆ</p>
                                                    <p>200. ಚಿತ್ತ-ಮನಸ್ಸು, ಬಗೆ</p>
                                                    <p>201. ಧರೆ – ಭೂಮಿ,ಧರಿತ್ರಿ, ಇಳೆ</p>
                                                    <p>202. ನೀರು – ಜಲ, ಅಂಬು, ಪಯ, ಉದಕ</p>
                                                    <p>203. ಸಮುದ್ರ – ಜಲಧಿ, ಅಂಬುಧಿ,  ಶರಧಿ, ಕಡಲು, ವಾರಿಧಿ, ರತ್ನಾಕರ , ಅಬ್ಧಿ</p>
                                                    <p>204. ಮೋಡ – ಮೇಘ, ಅಂಬುದ, ಮುಗಿಲು, ವಾರಿದ, ಘನ, ಅಬ್ದ</p>
                                                    <p>205. ಕಮಲ – ಜಲಜ, ಅಂಬುಜ, ನೀರಜ, ಪಂಕಜ, ವಾರಿಜ</p>
                                                    <p>206. ಕೈ – ಹಸ್ತ, ಕರ, ಪಾಣಿ</p>
                                                    <p>207. ಆನೆ – ಹಸ್ತಿ , ಕರಿ , ಗಜ, ಕುಂಜರ</p>
                                                    <p>208. ದುಂಬಿ – ಮಿಲಿಂದ, ಭ್ರಮರ, ಮಧುಪ, ಮಧುಕರ, ಭೃಂಗ</p>
                                                    <p>209. ಕಣ್ಣು – ನಯನ, ಅಕ್ಷಿ , ಚಕ್ಷು, ಲೋಚನ, ನೇತ್ರ</p>
                                                    <p>210. ಗೆಳೆಯ – ಮಿತ್ರ, ಸಖ, ಸ್ನೇಹಿತ,ಸಹಪಾಠಿ, ಸಹಚರ</p>
                                                    <p>211. ಸೂರ್ಯ – ನೇಸರ , ರವಿ, ದಿನಕರ, ಭಾನು, ಭಾಸ್ಕರ, ಪ್ರಭಾಕರ, ದಿವಾಕರ</p>
                                                    <p>212. ರಾಜ – ಅರಸ, ದೊರೆ, ಭೂಪತಿ , ಮಹಿಮತಿ , ನರೇಶ, ನೃಪತಿ, ಭೂಪಾಲ, ಅಧಿಪತಿ</p>
                                                    <p>213. ದೇವರು – ಭಗವಂತ, ಈಶ್ವರ, ಪರಮಾತ್ಮ, ಪ್ರಭ, ದೈವ, ಪರಮೇಶ್ವರ, ವಿಧಾತಾ</p>
                                                    <p>214. ಮನೆ – ಆಲಯ, ಗೃಹ, ನಿಕೇತನ, ಸದನ</p>
                                                    <p>215. ಗಣೇಶ – ಗಜಾನನ, ಲಂಬೋದರ, ವಿನಾಯಕ, ಏಕದಂತ</p>
                                                    <p>216. ಮಗ – ಪುತ್ರ, ಕುವರ, ಸುತ, ಅತ್ಮಜ, ತನಯ, ತನುಜ, ಸೂನು</p>
                                                    <p>217. ಮಗಳು – ಪುತ್ರಿ, ಸುತೆ, ಕುಮಾರಿ, ಅತ್ಮಜೆ, ತನಯೇ, ತನುಜೆ</p>
                                                    <p>218. ತಂದೆ – ಪಿತ, ಅಪ್ಪ , ಅಯ್ಯ , ಜನಕ</p>
                                                    <p>219. ತಾಯಿ – ಅಮ್ಮ, ಅಬ್ಬೆ, ಜನನಿ, ಮಾತೆ, ಅವ್ವ</p>
                                                    <p>220. ಆಕಾಶ – ಆಗಸ, ಗಗನ, ಬಾನು, ಅಂತರಿಕ್ಷ , ನಭ</p>
                                                    <p>221. ಭೂಮಿ – ಮಹಿ, ಪೃಥ್ವಿ, ಭೂ, ನೆಲ, ಧರಣಿ, ಧರೆ, ಧರಿತ್ರಿ, ವಸುಂಧರೆ, ಇಳೆ, ವಸುಧೆ</p>
                                                    <p>222. ಚಂದ್ರ – ಚಂದಿರ, ಹಿಮಕರ, ಶಶಿ, ಹಿಮಾಂಶು, ರಾಕೇಶ</p>
                                                    <p>223. ರಾತ್ರಿ – ನಿಶಾ, ರಜನಿ, ಶರ್ವರಿ, ಯಾಮಿನಿ</p>
                                                    <p>224. ನದಿ – ಹೊಳೆ, ಸರಿತಾ, ಹೊನಲು, ವಾಹಿನಿ, ತರಂಗಿಣಿ, ಪ್ರವಾಹಿನಿ</p>
                                                    <p>225. ಪರ್ವತ – ಗಿರಿ, ಗುಡ್ಡ, ಬೆಟ್ಟ, ಅಚಲ, ಶೈಲ, ತುಂಗ, ಮಲೆ</p>
                                                    <p>226. ಬೆಂಕಿ – ಅಗ್ನಿ, ಅನಲ, ಜ್ವಾಲಾ, ಪಾವಕ</p>
                                                    <p>227. ಕಲ್ಲು – ಶಿಲೆ, ಪಾಷಾಣ, ಶೈಲ, ಶಿಲ್ಪ</p>
                                                    <p>228. ಕಾಡು – ಅರಣ್ಯ, ಅಡವಿ, ವನ, ಕಾನನ, ಅಟವಿ</p>
                                                    <p>229. ಹಾಲು – ಕ್ಷೀರ, ಪಯ, ದುಗ್ಧ</p>
                                                    <p>230. ಸ್ಮಶಾನ – ಮಸಣ, ರುದ್ರಭೂಮಿ</p>
                                                    <p>231. ಪಾರ್ವತಿ – ಶೈಲಜಾ, ಗೌರಿ, ಗಿರಿಜಾ, ದಾಕ್ಷಾಯಿಣಿ</p>
                                                    <p>232. ಅಮೃತ – ಅಮರ್ದು, ಸುಧೆ, ಪಿಯೂಷ, ಸೋಮ</p>
                                                    <p>233. ರಾಕ್ಷಸ – ಅಸುರ, ದಾನವ, ರಕ್ಕಸ, ನಿಶಾಚರ</p>
                                                    <p>234. ಕತ್ತಲು – ತಮ, ಅಂಧಕಾರ, ತಿಮಿರ, ತಮಸ್</p>
                                                    <p>235. ಪಂಡಿತ – ಕೋವಿದ, ಜ್ಞಾನಿ, ಬಲ್ಲವ, ಪ್ರಾಜ್ಞ, ವಿದ್ವಾನ</p>
                                                    <p>236. ಪರೋಪಕಾರ – ಹಿತ, ಉಪಕಾರ, ಸಹಾಯ, ಪರಹಿತ</p>
                                                    <p>237. ಬ್ರಾಹ್ಮಣ – ಹಾರವ, ದ್ವಿಜ, ವಿಪ್ರ</p>
                                                    <p>238. ಕೊಳಲು – ವೇಣು, ವಂಶಿ , ಮುರಳಿ</p>
                                                    <p>239. ಗಂಗೆ   – ಭಾಗೀರಥಿ, ಜಾಹ್ನವಿ, ಮಂದಾಕಿನಿ, ಸುರನದಿ</p>
                                                    <p>240. ಯಮುನೆ – ಕಾಲಿಂದಿನಿ,  ಸುರ್ಯಸುತೆ, ತರಣಿಜಾ, ಅರ್ಕಜಾ , ಜಮುನಾ  ನೀಲಂಬರಾ</p>
                                                    <p>241. ಶಿವ – ಶಂಕರ, ಅಶುತೋಶ, ಈಶಾನ, ವಾಮದೇವ, ಹರ, ನೀಲಕಂಠ</p>
                                                    <p>242. ಲಕ್ಷ್ಮೀ – ಶ್ರೀ, ಲಕುಮಿ, ರಮಾ, ಇಂದಿರಾ, ಹರಿಪ್ರಿಯಾ, ಪದ್ಮಜಾ,</p>
                                                    <p>243. ವಿಷ್ಣು – ಹರಿ, ನಾರಾಯಣ, ಜನಾರ್ದನ , ಲಕ್ಷ್ಮಿಕಾಂತ, ಪದ್ಮನಾಭ, ಮುಕುಂದ</p>
                                                    <p>244. ಹಕ್ಕಿ – ಪಕ್ಷಿ, ಖಗ, ವಿಹಂಗ, ನಭಚರ</p>
                                                    <p>245. ಮಳೆ – ವರ್ಷಾ, ವೃಷ್ಟಿ</p>
                                                    <p>246. ಗಾಳಿ – ವಾಯು, ಸಮೀರ, ಅನಿಲ, ಪವನ, ಪವಮಾನ</p>
                                                    <p>247. ಕೃಷ್ಣ – ಮುರಾರಿ, ಗೋಪಾಲ, ಗೋವಿಂದ, ಪಾರ್ಥಸಾರಥಿ, ಮುರಳಿಧರ</p>
                                                    <p>248. ರಾಮ – ಪುರುಷೋತ್ತಮ , ರಾಘವ, ಸೀತಾಪತಿ, ರಘುಪತಿ, ರಘುನಾಥ</p>
                                                    <p>249. ಸೀತೆ – ವೈದೇಹಿ, ಜಾನಕಿ, ಮೈಥಿಲಿ</p>
                                                    <p>250. ಕುದುರೆ – ಅಶ್ವ , ತುರುಗ, ಹಯ</p>
                                                    <p>251. ಅಧ್ಯಾಪಕ – ಶಿಕ್ಷಕ, ಗುರು, ಆಚಾರ್ಯ, ಉಪಾಧ್ಯಾಯ</p>
                                                    <p>252. ಕವನ –  ಪದ್ಯ, ಕಾವ್ಯ , ಹಾಡು, ಕವಿತೆ</p>
                                                    <p>253. ಹೂವು – ಪುಷ್ಪ, ಕುಸುಮ, ಸುಮನ, ಪ್ರಸೂನ</p>
                                                    <p>254. ಗುಡಿ – ದೇವಾಲಯ, ಮಂದಿರ, ಧಾಮ</p>
                                                    <p>255. ಕತ್ತಿ – ಖಡ್ಗ, ಅಲಗು, ಅಸಿ</p>
                                                    <p>256. ಅಣ್ಣ – ಅಗ್ರಜ, ಭ್ರಾತೃ , ಹಿರಿಯಣ್ಣ</p>
                                                    <p>257. ಅಕ್ಕ – ಅಗ್ರಜೆ, ಹಿರಿಯಕ್ಕ</p>
                                                    <p>258. ಸ್ತ್ರೀ – ಮಾನಿನಿ, ಮಹಿಳೆ, ಹೆಣ್ಣು, ಅಂಗನೆ, ಲಲನೆ</p>
                                                    <p>259. ಹಾವು – ಸರ್ಪ, ಭುಜಂಗ, ನಾಗ, ಪನ್ನಗ, ಶೇಷ, ಅಹಿ, ಉರಗ , ಫಣಿ</p>
                                                    <p>260. ಮದುವೆ – ಲಗ್ನ , ವಿವಾಹ, ಕಲ್ಯಾಣ</p>
                                                    <p>261. ಮಂಗ – ಕೋತಿ, ಕಪಿ, ವಾನರ, ಮರ್ಕಟ, ಕೋಡಗ</p>
                                                    <p>262. ಗಂಡ – ರಮಣ , ಪತಿ, ವಲ್ಲಭ , ಕಾಂತ, ಪ್ರಿಯ</p>
                                                    <p>263. ಹೆಂಡತಿ – ಪತ್ನಿ , ವಲ್ಲಭೆ , ಕಾಂತೆ , ಭಾರ್ಯ, ಅರ್ಧಾಂಗಿನಿ, ಪ್ರಿಯೆ</p>
                                                    <p>264. ಧನ – ಹಣ, ನಗದು,  ಕಾಂಚಾಣ , ಸಿರಿ, ದುಡ್ಡು , ಕಾಸು</p>
                                                    <p>265. ಧನಿಕ – ಶ್ರೀಮಂತ, ಬಲ್ಲಿದ , ಸಿರಿವಂತ</p>
                                                    <p>266. ಕಾಮ – ಮಾರ, ಮನ್ಮಥ , ಮದನ , ಅನಂಗ, ಕಂದರ್ಪ, ರತಿಪತಿ, ಮನಸಿಜ</p>
                                                    <p>267. ದಾರಿ – ಪಥ , ಮಾರ್ಗ</p>
                                                    <p>268. ಮರ – ವೃಕ್ಷ , ತರು , ಪಾದಪ</p>
                                                    <p>269. ಸುವಾಸನೆ – ಪರಿಮಳ, ಸಂಪದ , ಸುಗಂಧ, ಕಂಪು, ಸೌರಭ</p>
                                                    <p>270. ಮಗು – ಕೂಸು, ಕಂದ, ಪಾಪ, ಶಿಶು, ಹಸುಳೆ</p>
                                                    <p>271. ಬಂಗಾರ – ಚಿನ್ನ , ಹೇಮ, ಸುವರ್ಣ</p>
                                                    <p>272. ಬಾಯಾರಿಕೆ – ತೃಷೆ, ತೃಷ್ಣಾ, ದಾಹ</p>
                                                    <p>273. ನಕ್ಷತ್ರ – ತಾರೆ , ಚುಕ್ಕೆ</p>
                                                    <p>274. ದ್ರೌಪದಿ – ಪಾಂಚಾಲಿ, ಕೃಷ್ಣೆ, ಯಾಜ್ಞಸೇನಿ</p>
                                                    <p>275. ಅರ್ಜುನ – ಪಾರ್ಥ, ಕಿರೀಟಿ, ಸವ್ಯಸಾಚಿ, ಗಾಂಢೀವಿ, ಧನಂಜಯ</p>
                                                    <p>276. ಬಾವುಟ – ಧ್ವಜ, ಕೇತನ, ಗುಡಿ, ಪತಾಕ</p>
                                                    <p>277. ಹುಲಿ – ವ್ಯಾಘ್ರ, ಪುಲಿ, ಪುಂಡರೀಕ</p>
                                                    <p>278. ಸಿಂಹ – ವನರಾಜ. ಕೇಸರಿ, ಮೃಗರಾಜ</p>
                                                    <p>279. ಆಕಳು – ಗೋವು, ದನ, ತುರು , ರಾಸು, ಧೇನು</p>
                                                    <p>280. ಹಣೆ – ಲಲಾಟ , ನೊಸಲು, ಭಾಲ, ಪಾಲ, ನಿಟಿಲ</p>
                                                    <p>281. ತಲೆ – ಮಂಡೆ , ಮಸ್ತಕ, ಶಿರ, ಕಪಾಲ</p>
                                                    <p>282. ಮುಖ – ವದನ, ಮೊಗ, ವಕ್ತ್ರ, ಮೋರೆ, ಆನನ</p>
                                                    <p>283. ದೇಹ – ಶರೀರ, ಕಾಯ , ತನು, ಒಡಲು</p>
                                                    <p>284. ತೊಂದರೆ – ಉಪಟಳ ,ಉಪದ್ರವ, ಪೀಡನೆ</p>
                                                    <p>285. ವಿನಂತಿ – ಬಿನ್ನಹ , ವಿಜ್ಞಾಪನೆ, ಪ್ರಾರ್ಥನೆ</p>
                                                    <p>286. ಬುದ್ಧಿ – ಚಿತ್ತ, ಮನಸ್ಸು ,ಮನ, ಅಂತರಂಗ</p>
                                                    <p>287. ಚೆಂದ – ಸೊಗಸು, ಸುಂದರ, ಚೆನ್ನ</p>
                                                    <p>288. ಸಂತೋಷ – ಸಂತಸ , ಆನಂದ, ಖುಷಿ, ಪ್ರಮೋದ, ಹರ್ಷ, ಮೋದ</p>
                                                    <p>289. ಅನುಪಮ – ಅನನ್ಯ , ಅಪೂರ್ವ</p>
                                                    <p>290. ಅವಮಾನ – ಅಪಮಾನ, ತಿರಸ್ಕಾರ,ನಿರಾದರ</p>
                                                    <p>291. ಅಪ್ಸರೆ – ದೇವಾಂಗನೆ , ಸುರಾಂಗನೆ, ದೇವಕನ್ಯೆ</p>
                                                    <p>292. ಕಣ್ಣೀರು – ಕಂಬನಿ, ಅಶ್ರು</p>
                                                    <p>293. ಆತ್ಮ – ಚೇತನ, ಚೈತನ್ಯ, ಜೀವ, ವಿಭು</p>
                                                    <p>294. ಮೊದಲು – ಆರಂಭ , ಶುರು, ಆದಿ, ಪ್ರಥಮ, ಮುಂಚೂಣಿ</p>
                                                    <p>295. ಇಂದ್ರ – ಸುರೇಶ, ದೇವರಾಜ, ಪುರಂಧರ, ವಜ್ರಿ, ದೇವೇಶ, ಸುರಪತಿ, ಶಚಿಪತಿ, ಸಹಸ್ರಾಕ್ಷ</p>
                                                    <p>296. ಆಸೆ – ಅಭಿಲಾಷೆ, ಇಷ್ಟ, ಇಚ್ಛೆ, ಆಕಾಂಕ್ಷೆ, ಕಾಮನೆ, ಮನೋರಥ, ವಾಂಛೆ</p>
                                                    <p>297. ಪುರಸ್ಕಾರ – ಬಹುಮಾನ , ಪಾರಿತೋಷಕ, ಇನಾಮು, ಕಾಣಿಕೆ</p>
                                                    <p>298. ಹಬ್ಬ – ಉತ್ಸವ, ಪರ್ವ, ಸಮಾರೋಹ, ಪರ್ಬ</p>
                                                    </div>

</body>
</html>
