<!DOCTYPE html>
<html>
<head>
<style>
h1 {
  text-align: center;
  font-weight: bold;
  font-size: 80px;
}

p.main {
  text-align: center;
  font-weight: bold;
  font-size: 35px;
}

p.adp {
  text-align: center;
  font-weight: bold;
  font-size: 35px;
}

p.ade {
  text-align: center;
  font-weight: bold;
  font-size: 30px;
}

p.adf {
  text-align: center;
  font-weight: bold;
  font-size: 20px;
}

p.adg {
  text-align: center;
  font-weight: bold;
  font-size: 20px;
}

p.adh {
  text-align: center;
  font-weight: bold;
  font-size: 20px;
}

p.adi {
  text-align: center;
  font-weight: bold;
  font-size: 20px;
}

p.adj {
  text-align: center;
  font-weight: bold;
  font-size: 20px;
}

p.adk {
  text-align: center;
  font-weight: bold;
  font-size: 20px;
}

p.adl {
  text-align: center;
  font-weight: bold;
  font-size: 20px;
}

p.adm {
  text-align: center;
  font-weight: bold;
  font-size: 20px;
}

p.adn {
  text-align: center;
  font-weight: bold;
  font-size: 20px;
}

.navbar {
  position: fixed;
  top: 0;
  right: 0;
  background-color: #f9f9f9;
  padding: 10px;
  z-index: 9999;
}

.navbar a {
  padding: 10px;
  text-decoration: none;
  color: black;
  font-size: 20px;
  font-weight: bold;
}

.navbar a:hover {
  background-color: #ddd;
}

.navbar a.active {
  background-color: #3a3736;
  color: white;
}

html {
  background: url(/static/images/woodplank.jpg) no-repeat center fixed;
  background-size: cover;
  height: 1000px;
}


table, th, td {
  border: 1px solid white;
  border-collapse: collapse;
}
th, td {
  background-color: #96D4D4;
  font-size: xx-large;
}
</style>
<title>ವಿರುದ್ಧಾರ್ಥಕ ಪದಗಳು</title>
<link rel="stylesheet" href="static/scss/newfile1.css">
<link rel="shortcut icon" href="..\static\images\kannada.webp" type="image/x-icon">

</head>
<body>

<div class="new">
  <h1 class="box_color">ವಿರುದ್ಧಾರ್ಥಕ ಪದಗಳು<hr></h1>
  <button type="button" onclick="window.location.href='http://127.0.0.1:5000/homev';">ಮುಖ್ಯಪುಟ</button>
  <button type="button" onclick="window.location.href='http://127.0.0.1:5000/testv';">ಪರೀಕ್ಷಿಸು </button>
  <button type="button" onclick="window.location.href='http://127.0.0.1:5000/identifyLanguagev';">ಅಭ್ಯಾಸ ಪ್ರಾರಂಭಿಸು</button>
  <button type="button" onclick="window.location.href='http://127.0.0.1:5000';">ವ್ಯಾಕರಣ ಮುಖ್ಯಪುಟ</button>

</div>

<table border="" align="center"  class="has-theme-palette-7-background-color has-background">
  <tbody align="center">
      <tr>
          <td>1.</td>
          <td>ಅಂಕುಶ x ನಿರಂಕುಶ</td>
      </tr>
      <tr>
          <td>2.</td>
          <td>ಅಂತ x ಅನಂತ</td>
      </tr>
      <tr>
          <td>3.</td>
          <td>ಅಂತ್ಯ x ಆರಂಭ</td>
      </tr>
      <tr>
          <td>4.</td>
          <td>ಅಕ್ಷಯ x ಕ್ಷಯ</td>
      </tr>
      <tr>
          <td>5.</td>
          <td>ಅಗಲ x ಕಿರಿದು</td>
      </tr>
      <tr>
          <td>6.</td>
          <td>ಅಡಚಣೆ x ಮುಂದುವಲಿಸಿ</td>
      </tr>
      <tr>
          <td>7.</td>
          <td>ಅಡ್ಡ x ಲಂಬ</td>
      </tr>
      <tr>
          <td>8.</td>
          <td>ಅತಿಥಿ x ಹೋಸ್ಟ್</td>
      </tr>
      <tr>
          <td>9.</td>
          <td>ಅತಿವೃಷ್ಠಿ x ಅನಾವೃಷ್ಟಿ</td>
      </tr>
      <tr>
          <td>10.</td>
          <td>ಅತ್ಯಾಕರ್ಷಕ x ನೀರಸ</td>
      </tr>

      <tr>
          <td>11.</td>
          <td>ಅದೃಷ್ಟ x ದುರದೃಷ್ಟ</td>
      </tr>
      <tr>
          <td>12.</td>
          <td>ಅದೃಷ್ಟ x ನತದೃಷ್ಟ</td>
      </tr>
      <tr>
          <td>13.</td>
          <td>ಅಧಿಕೃತ x ಅನಧಿಕೃತ</td>
      </tr>
      <tr>
          <td>14.</td>
          <td>ಅಧ್ಯಯನ x ಅನಧ್ಯಯನ</td>
      </tr>
      <tr>
          <td>15.</td>
          <td>ಅನಾಥ x ನಾಥ</td>
      </tr>
      <tr>
          <td>16.</td>
          <td>ಅನಾರೋಗ್ಯ x ಆರೋಗ್ಯಕರ</td>
      </tr>
      <tr>
          <td>17.</td>
          <td>ಅನುಭವ x ಅನನುಭವ</td>
      </tr>
      <tr>
          <td>18.</td>
          <td>ಅಪೇಕ್ಷೆ x ಅನಪೇಕ್ಷೆ</td>
      </tr>
      <tr>
          <td>19.</td>
          <td>ಅಬಲೆ x ಸಬಲೆ</td>
      </tr>
      <tr>
          <td>20.</td>
          <td>ಅಭಿಮಾನ x ನಿರಭಿಮಾನ</td>
      </tr>

      <tr>
          <td>21.</td>
          <td>ಅಭ್ಯಾಸ x ದುರಭ್ಯಾಸ</td>
      </tr>
      <tr>
          <td>22.</td>
          <td>ಅಮೂಲ್ಯ x ನಿಕೃಷ್ಟ ( ಅನಮೂಲ್ಯ )</td>
      </tr>
      <tr>
          <td>23.</td>
          <td>ಅಮೃತ x ವಿಷ</td>
      </tr>
      <tr>
          <td>24.</td>
          <td>ಅರಸ x ಆಳು</td>
      </tr>
      <tr>
          <td>25.</td>
          <td>ಅರಿವು x ಮರೆವು</td>
      </tr>
      <tr>
          <td>26.</td>
          <td>ಅರೋಗ್ಯ x ಅನಾರೋಗ್ಯ</td>
      </tr>
      <tr>
          <td>25.</td>
          <td>ಅರ್ಥ x ಅನರ್ಥ</td>
      </tr>
      <tr>
          <td>26.</td>
          <td>ಅವಮಾನ x ಅಭಿನಂದನೆ</td>
      </tr>
      <tr>
          <td>27.</td>
          <td>ಅವಶ್ಯಕ x ಅನಾವಶ್ಯಕ</td>
      </tr>
      <tr>
          <td>28.</td>
          <td>ಅಸೂಯೆ x ಅನಸೂಯೆ</td>
      </tr>
      <tr>
          <td>29.</td>
          <td>ಅಹಂಕಾಲ x ನಿರಹಂಕಾಲ</td>
      </tr>
      <tr>
          <td>30.</td>
          <td>ಅಳಿವು x ಉಳಿವು</td>
      </tr>
      <tr>
          <td>31.</td>
          <td>ಆಗಾಗ್ಗೆ x ಸಾಂದರ್ಭಿಕವಾಗಿ</td>
      </tr>
      <tr>
          <td>32.</td>
          <td>ಆಚಾರ x ಅನಾಚರ</td>
      </tr>
      <tr>
          <td>33.</td>
          <td>ಆಡಂಬರ x ನಿರಾಡಂಬರ</td>
      </tr>
      <tr>
          <td>34.</td>
          <td>ಆತಂಕ x ನಿರಾತಂಕ</td>
      </tr>
      <tr>
          <td>35.</td>
          <td>ಆತಿಥೇಯ x ಅತಿಥಿ</td>
      </tr>
      <tr>
          <td>36.</td>
          <td>ಆದರ x ಅನಾದರ</td>
      </tr>
      <tr>
          <td>37.</td>
          <td>ಆದಾಯ x ವೆಚ್ಚ</td>
      </tr>
      <tr>
          <td>38.</td>
          <td>ಆಧುನಿಕ x ಪ್ರಾಚೀನ</td>
      </tr>
      <tr>
          <td>39.</td>
          <td>ಆನಂಬಿಸಿ x ದ್ವೇಷಿಸಿ</td>
      </tr>
      <tr>
          <td>40.</td>
          <td>ಆಮದು x ರಫ್ತು</td>
      </tr>
      <tr>
          <td>41.</td>
          <td>ಆಯಾಸ x ಅನಾಯಾಸ</td>
      </tr>
      <tr>
          <td>42.</td>
          <td>ಆಯಾಸ x ನಿರಾಯಾಸ</td>
      </tr>
      <tr>
          <td>43.</td>
          <td>ಆಯುಧ x ನಿರಾಯುಧ</td>
      </tr>
      <tr>
          <td>44.</td>
          <td>ಆರಂಭ x ಅಂತ್ಯ</td>
      </tr>
      <tr>
          <td>45.</td>
          <td>ಆರಂಭ x ಮುಕ್ತಾಯ</td>
      </tr>
      <tr>
          <td>46.</td>
          <td>ಆರೋಗ್ಯ x ರೋಗ</td>
      </tr>
      <tr>
          <td>47.</td>
          <td>ಆರೋಗ್ಯ x ಅನಾರೋಗ್ಯ</td>
      </tr>
      <tr>
          <td>48.</td>
          <td>ಆರೋಗ್ಯಕರ x ಅನಾರೋಗ್ಯ</td>
      </tr>
      <tr>
          <td>49.</td>
          <td>ಆದ್ರ್ರ x ಒಣ</td>
      </tr>
      <tr>
          <td>50.</td>
          <td>ಆದ್ರ್ರ x ಶುಷ್ಕ</td>
      </tr>

      <tr>
          <td>51.</td>
          <td>ಆರ್ಯ x ಅನಾರ್ಯ</td>
      </tr>
      <tr>
          <td>52.</td>
          <td>ಆವಾಹನೆ x ವಿಸರ್ಜನೆ</td>
      </tr>
      <tr>
          <td>53.</td>
          <td>ಆಸಕ್ತಿ x ಬೋರ್</td>
      </tr>
      <tr>
          <td>54.</td>
          <td>ಆಸಕ್ತಿ x ನಿರಾಸಕ್ತಿ</td>
      </tr>
      <tr>
          <td>55.</td>
          <td>ಆಸಕ್ತಿದಾಯಕ x ನೀರಸ</td>
      </tr>
      <tr>
          <td>56.</td>
          <td>ಆಸೆ x ನಿರಾಸೆ</td>
      </tr>
      <tr>
          <td>57.</td>
          <td>ಆಹಾರ x ನಿರಾಹಾರ</td>
      </tr>
      <tr>
          <td>58.</td>
          <td>ಆಳವಾದ x ಆಳವಿಲ್ಲದ</td>
      </tr>
      <tr>
          <td>59.</td>
          <td>ಇಂಚರ x ಕರ್ಕಶ</td>
      </tr>
      <tr>
          <td>60.</td>
          <td>ಇಂದು x ನಾಳೆ ( ನಿನ್ನೆ )</td>
      </tr>
      <tr>
          <td>61.</td>
          <td>ಇಲ್ಲಿ X ಅಲ್ಲಿ</td>
      </tr>
      <tr>
          <td>62.</td>
          <td>ಇಹಲೋಕ x ಪರಲೋಕ</td>
      </tr>
      <tr>
          <td>63.</td>
          <td>ಇಳಿಯುವಿಕೆ x ಆರೋಹಣ</td>
      </tr>
      <tr>
          <td>64.</td>
          <td>ಉಗ್ರ x ಶಾಂತ</td>
      </tr>
      <tr>
          <td>65.</td>
          <td>ಉಚಿತ x ಬಂಧನ</td>
      </tr>
      <tr>
          <td>66.</td>
          <td>ಉಚಿತ x ಅನುಚಿತ</td>
      </tr>
      <tr>
          <td>67.</td>
          <td>ಉಚ್ಚ x ನೀಚ</td>
      </tr>
      <tr>
          <td>68.</td>
          <td>ಉತ್ತಮ x ಅಧಮ</td>
      </tr>
      <tr>
          <td>69.</td>
          <td>ಉತ್ತಮ x ಕಳಪೆ</td>
      </tr>
      <tr>
          <td>70.</td>
          <td>ಉತ್ತೀರ್ಣ x ಅನುತ್ತೀರ್ಣ</td>
      </tr>
      <tr>
          <td>71.</td>
          <td>ಉತ್ಸಾಹ x ಶಾಂತ</td>
      </tr>
      <tr>
          <td>72.</td>
          <td>ಉತ್ಸಾಹ x ನಿರುತ್ಸಾಹ</td>
      </tr>
      <tr>
          <td>73.</td>
          <td>ಉದಯ x ಅಸ್ತಮಾನ</td>
      </tr>
      <tr>
          <td>74.</td>
          <td>ಉದಾರ x ಸರಾಸಲಿ</td>
      </tr>
      <tr>
          <td>75.</td>
          <td>ಉದಾರ x ಅನುದಾರ</td>
      </tr>
      <tr>
          <td>76.</td>
          <td>ಉದ್ದ x ಚಿಕ್ಕ</td>
      </tr>
      <tr>
          <td>77.</td>
          <td>ಉದ್ದೇಶಪೂರ್ವಕ x ಆಕಸ್ಮಿಕ</td>
      </tr>
      <tr>
          <td>78.</td>
          <td>ಉನ್ನತ x ಆಳವಾದ</td>
      </tr>
      <tr>
          <td>79.</td>
          <td>ಉನ್ನತ x ಅವನತ</td>
      </tr>
      <tr>
          <td>80.</td>
          <td>ಉನ್ನತಿ x ಅವನತಿ</td>
      </tr>
      <tr>
          <td>81.</td>
          <td>ಉಪಕಾರ x ಅಪಕಾರ</td>
      </tr>
      <tr>
          <td>82.</td>
          <td>ಉಪಕಾಲ x ಅಪಕಾರಿ</td>
      </tr>
      <tr>
          <td>83.</td>
          <td>ಉಪಯೋಗ x ನಿರುಪಯೋಗ</td>
      </tr>
      <tr>
          <td>84.</td>
          <td>ಉಪಾಯ x ನಿರುಪಾಯ</td>
      </tr>
      <tr>
          <td>85.</td>
          <td>ಉಪಾಹಾರ x ಪ್ರಧಾನಾಹಾರ</td>
      </tr>
      <tr>
          <td>86.</td>
          <td>ಊರ್ಜಿತ x ಅನೂರ್ಜಿತ</td>
      </tr>
      <tr>
          <td>87.</td>
          <td>ಎಡ x ಬಲ</td>
      </tr>
      <tr>
          <td>88.</td>
          <td>ಎಲ್ಲರೂ x ಯಾರೂ ಇಲ್ಲ</td>
      </tr>
      <tr>
          <td>89.</td>
          <td>ಎಲ್ಲವೂ x ಏನೂ ಇಲ್ಲ</td>
      </tr>
      <tr>
          <td>90.</td>
          <td>ಏಕ x ಅನೇಕ</td>
      </tr>
      <tr>
          <td>91.</td>
          <td>ಒಂಟಿ x ಜೊತೆ ( ಗುಂಪು )</td>
      </tr>
      <tr>
          <td>92.</td>
          <td>ಒಡೆಯ x ಸೇವಕ</td>
      </tr>
      <tr>
          <td>93.</td>
          <td>ಒಣ x ಹಸಿ</td>
      </tr>
      <tr>
          <td>94.</td>
          <td>ಒಳಗೆ  x ಹೊರಗೆ</td>
      </tr>
      <tr>
          <td>95.</td>
          <td>ಒಳ್ಳೆಯದು x ಕೆಟ್ಟದು</td>
      </tr>
      <tr>
          <td>96.</td>
          <td>ಕಠಿಣ x ಸುಲಭ</td>
      </tr>
      <tr>
          <td>97.</td>
          <td>ಕಡಿಮೆ x ಹೆಚ್ಚಿಸಿ</td>
      </tr>
      <tr>
          <td>98.</td>
          <td>ಕಡಿಮೆ x ಹೆಚ್ಚು</td>
      </tr>
      <tr>
          <td>99.</td>
          <td>ಕನಸು x ನನಸು</td>
      </tr>
      <tr>
          <td>100.</td>
          <td>ಕನ್ಯ x ಸ್ತ್ರೀ</td>
      </tr>

      <tr>
          <td>101.</td>
          <td>ಕಪ್ಪು x ಬಿಳುಪು</td>
      </tr>
      <tr>
          <td>102.</td>
          <td>ಕಲಲಿ X ಕಲಸಿ</td>
      </tr>
      <tr>
          <td>103.</td>
          <td>ಕಲ್ಮಶ x ನಿಷ್ಕಲ್ಮಶ</td>
      </tr>
      <tr>
          <td>104.</td>
          <td>ಕಷ್ಟ x ಸುಲಭ</td>
      </tr>
      <tr>
          <td>105.</td>
          <td>ಕಷ್ಟ x ಸುಖ</td>
      </tr>
      <tr>
          <td>106.</td>
          <td>ಕಳೆದುಕೊಳ್ಳಿ x ಗೆಲುವು</td>
      </tr>
      <tr>
          <td>107.</td>
          <td>ಕಾಲ X ಅಕಾಲ</td>
      </tr>
      <tr>
          <td>108.</td>
          <td>ಕಿಲಿಯ x ಹಿಲಿಯ</td>
      </tr>
      <tr>
          <td>109.</td>
          <td>ಕೀರ್ತಿ X ಅಪಕೀರ್ತಿ</td>
      </tr>
      <tr>
          <td>110.</td>
          <td>ಕೃತಜ್ಞ x ಕೃತಘ್ನ</td>
      </tr>
      <tr>
          <td>111.</td>
          <td>ಕೃಪೆ x ಅವಕೃಪೆ</td>
      </tr>
      <tr>
          <td>112.</td>
          <td>ಕೆಟ್ಟ x ಉತ್ತಮ</td>
      </tr>
      <tr>
          <td>113.</td>
          <td>ಕೆಟ್ಟದು x ಉತ್ತಮ</td>
      </tr>
      <tr>
          <td>114.</td>
          <td>ಕೆಲವು x ಅನೇಕ</td>
      </tr>
      <tr>
          <td>115.</td>
          <td>ಕೆಲಸ x ಉಳಿದ</td>
      </tr>
      <tr>
          <td>116.</td>
          <td>ಕೆಳಗಡೆ x ಮಹಡಿಯ</td>
      </tr>
      <tr>
          <td>117.</td>
          <td>ಕೊನೆ x ಮೊದಲು</td>
      </tr>
      <tr>
          <td>118.</td>
          <td>ಕೊಬ್ಬು x ಸ್ಲಿಮ್</td>
      </tr>
      <tr>
          <td>119.</td>
          <td>ಕೊರತೆ x ಸಮೃದ್ಧಿ</td>
      </tr>
      <tr>
          <td>120.</td>
          <td>ಕೊಲ್ಲು x ಕಾಯು</td>
      </tr>
      <tr>
          <td>121.</td>
          <td>ಕೊಳಕು x ಸ್ವಚ್</td>
      </tr>
      <tr>
          <td>122.</td>
          <td>ಕ್ರಮ x ಅಕ್ರಮ</td>
      </tr>
      <tr>
          <td>123.</td>
          <td>ಕೂಲಿ x ಕರುಣಿ</td>
      </tr>
      <tr>
          <td>124.</td>
          <td>ಖಂಡ X ಅಖಂಡ</td>
      </tr>
      <tr>
          <td>125.</td>
          <td>ಖಾಲ x ಪೂರ್ಣ</td>
      </tr>
      <tr>
          <td>126.</td>
          <td>ಖ್ಯಾತಿ x ಅಪಖ್ಯಾತಿ</td>
      </tr>
      <tr>
          <td>127.</td>
          <td>ಗಂಡ x ಹೆಂಡತಿ</td>
      </tr>
      <tr>
          <td>128.</td>
          <td>ಗತಿ x ದುರ್ಗತಿ </td>
      </tr>
      <tr>
          <td>129.</td>
          <td>ಗದ್ಯ x ಪದ್ಯ</td>
      </tr>
      <tr>
          <td>130.</td>
          <td>ಗಮ್ಯ x ಅಗಮ</td>
      </tr>
      <tr>
          <td>131.</td>
          <td>ಗುಡ್ಡಗಾಡು x ಚಪ್ಪಟೆ</td>
      </tr>
      <tr>
          <td>132.</td>
          <td>ಗೃಹಸ್ಥ x ಸಂನ್ಯಾಸಿ</td>
      </tr>
      <tr>
          <td>133.</td>
          <td>ಗೆಲುವು x ಸೋಲು</td>
      </tr>
      <tr>
          <td>134.</td>
          <td>ಗೌರವ x ಅಗೌರವ</td>
      </tr>
      <tr>
          <td>135.</td>
          <td>ಚಲ x ನಿಶ್ಚಲ</td>
      </tr>
      <tr>
          <td>134.</td>
          <td>ಚಳಿಗಾಲ x ಬೇಸಿಗೆ</td>
      </tr>
      <tr>
          <td>135.</td>
          <td>ಚಿಂತೆ x ನಿಶ್ಚಿಂತೆ</td>
      </tr>
      <tr>
          <td>136.</td>
          <td>ಚೆನ್ನಾಗಿ x ಅನಾರೋಗ್ಯ</td>
      </tr>
      <tr>
          <td>137.</td>
          <td>ಚೇತನ x ಅಚೇತನ</td>
      </tr>
      <tr>
          <td>138.</td>
          <td>ಜಂಗಮ x ಸ್ಥಾವರ</td>
      </tr>
      <tr>
          <td>139.</td>
          <td>ಜನ x ನಿರ್ಜನ</td>
      </tr>
      <tr>
          <td>140.</td>
          <td>ಜನನ x ಮರಣ</td>
      </tr>
      <tr>
          <td>141.</td>
          <td>ಜಯ x ಅಪಜಯ</td>
      </tr>
      <tr>
          <td>142.</td>
          <td>ಜಲ x ನಿರ್ಜಲ</td>
      </tr>
      <tr>
          <td>143.</td>
          <td>ಜಾತ x ಅಜಾತ</td>
      </tr>
      <tr>
          <td>144.</td>
          <td>ಜಾತಿ x ವಿಜಾತಿ</td>
      </tr>
      <tr>
          <td>145.</td>
          <td>ಜೀವನ x ಸಾವು</td>
      </tr>
      <tr>
          <td>144.</td>
          <td>ಜೇಷ್ಠ x ಕನಿಷ್ಠ</td>
      </tr>
      <tr>
          <td>145.</td>
          <td>ಜೋರಾಗಿ x ಶಾಂತ</td>
      </tr>
      <tr>
          <td>146.</td>
          <td>ಜ್ಞಾನ x ಅಜ್ಞಾನ</td>
      </tr>
      <tr>
          <td>147.</td>
          <td>ಟೊಳ್ಳು x ಗಟ್ಟಿ</td>
      </tr>
      <tr>
          <td>148.</td>
          <td>ಡೌನ್ x ಅಪ್</td>
      </tr>
      <tr>
          <td>149.</td>
          <td>ತಂತು x ನಿಸ್ತಂತು</td>
      </tr>
      <tr>
          <td>150.</td>
          <td>ತಜ್ಞ x ಅಜ್ಞ</td>
      </tr>

      <tr>
          <td>151.</td>
          <td>ತಡವಾಗಿ x ಆರಂಭಿಕ</td>
      </tr>
      <tr>
          <td>152.</td>
          <td>ತಪ್ಪಿತಸ್ಥ x ಮುಗ್ಧ</td>
      </tr>
      <tr>
          <td>153.</td>
          <td>ತಪ್ಪು x ಸಲ</td>
      </tr>
      <tr>
          <td>154.</td>
          <td>ತಮಾಷೆ x ಗಂಭೀರ</td>
      </tr>
      <tr>
          <td>155.</td>
          <td>ತರುಣ x ವೃದ್ಧ</td>
      </tr>
      <tr>
          <td>156.</td>
          <td>ತಲೆ x ಬುಡ </td>
      </tr>
      <tr>
          <td>157.</td>
          <td>ತಾಜಾ x ಹಳೆಯ</td>
      </tr>
      <tr>
          <td>158.</td>
          <td>ತೀವ್ರ x ಮಧ್ಯಮ </td>
      </tr>
      <tr>
          <td>159.</td>
          <td>ತೆಂಕಣ x ಬಡಗಣ </td>
      </tr>
      <tr>
          <td>160.</td>
          <td>ತೇಲು x ಮುಳುಗು</td>
      </tr>
      <tr>
          <td>161.</td>
          <td>ತ್ಯಾಜ್ಯ x ಉಳಿಸಿ</td>
      </tr>
      <tr>
          <td>162.</td>
          <td>ದಕ್ಷ x ಅದಕ್ಷ</td>
      </tr>
      <tr>
          <td>163.</td>
          <td>ದಮ್ಯ x ಅದಮ್ಯ </td>
      </tr>
      <tr>
          <td>164.</td>
          <td>ದಯ x ನಿರ್ದಯ</td>
      </tr>
      <tr>
          <td>165.</td>
          <td>ದಾಕ್ಷಿಣ್ಯ x ನಿರ್ದಾಕ್ಷಿಣ್ಯ </td>
      </tr>
      <tr>
          <td>166.</td>
          <td>ದುಬಾರಿ x ಅಗ್ಗದ </td>
      </tr>
      <tr>
          <td>167.</td>
          <td>ದುರದೃಷ್ಟ x ಅದೃಷ್ಟ </td>
      </tr>
      <tr>
          <td>168.</td>
          <td>ದುರ್ಗಮ x ಸುಗಮ </td>
      </tr>
      <tr>
          <td>169.</td>
          <td>ದುರ್ಬಲ x ಶಕ್ತಿಯುತ </td>
      </tr>
      <tr>
          <td>170.</td>
          <td>ದೂರದ x ಹತ್ತಿರ</td>
      </tr>
      <tr>
          <td>171.</td>
          <td>ದೆವ್ವ x ದೇವತೆ </td>
      </tr>
      <tr>
          <td>172.</td>
          <td>ದೇವ x ದಾನವ</td>
      </tr>
      <tr>
          <td>173.</td>
          <td>ದೇಶೀಯ x ವಿದೇಶಿ </td>
      </tr>
      <tr>
          <td>174.</td>
          <td>ದೈತ್ಯ x ಸಣ್ಣ </td>
      </tr>
      <tr>
          <td>175.</td>
          <td>ದೊಡ್ಡದು x ಸಣ್ಣದು</td>
      </tr>
      <tr>
          <td>176.</td>
          <td>ದ್ರವ x ಘನ</td>
      </tr>
      <tr>
          <td>177.</td>
          <td>ದ್ವಿತಿಯ x ಅದ್ವಿತಿಯ</td>
      </tr>
      <tr>
          <td>178.</td>
          <td>ದ್ವೇಷ x ಆನಂದಿಸಿ </td>
      </tr>
      <tr>
          <td>179.</td>
          <td>ಧರ್ಮ x ಅಧರ್ಮ</td>
      </tr>
      <tr>
          <td>180.</td>
          <td>ಧರ್ಮ x ಅಧರ್ಮ </td>
      </tr>
      <tr>
          <td>181.</td>
          <td>ಧೈರ್ಯ x ಅಧೈರ್ಯ</td>
      </tr>
      <tr>
          <td>182.</td>
          <td>ನಂಬಿಕೆ x ಅಪನಂಬಿಕೆ </td>
      </tr>
      <tr>
          <td>183.</td>
          <td>ನಗು x ಅಳಲು </td>
      </tr>
      <tr>
          <td>184.</td>
          <td>ನಗು x ಅಳು </td>
      </tr>
      <tr>
          <td>185.</td>
          <td>ನಡತೆ x ದುರ್ನಡತೆ </td>
      </tr>
      <tr>
          <td>186.</td>
          <td>ನಮೂದಿಸಿ x ಬಿಡಿ </td>
      </tr>
      <tr>
          <td>187.</td>
          <td>ನರಕ x ಸ್ವರ್ಗ </td>
      </tr>
      <tr>
          <td>188.</td>
          <td>ನಾಗರಿಕ x ಅನಾಗಲಿಕ </td>
      </tr>
      <tr>
          <td>189.</td>
          <td>ನಾಗಲೀಕ x ಅನಾಗಲೀಕ </td>
      </tr>
      <tr>
          <td>190.</td>
          <td>ನಾಟಕ x ಹಾಸ್ಯ </td>
      </tr>
      <tr>
          <td>191.</td>
          <td>ನಾಮಧೇಯ x ಅನಾಮಧೇಯ</td>
      </tr>
      <tr>
          <td>192.</td>
          <td>ನಾಶ x ನಿರ್ಮಿಸು </td>
      </tr>
      <tr>
          <td>193.</td>
          <td>ನಾಶ x ಅನಾಶ</td>
      </tr>
      <tr>
          <td>194.</td>
          <td>ನಿಖರವಾಗಿ x ಸರಿಸುಮಾರು </td>
      </tr>
      <tr>
          <td>195.</td>
          <td>ನಿನ್ನೆ x ನಾಳೆ</td>
      </tr>
      <tr>
          <td>196.</td>
          <td>ನಿರಾಕರಿಸಿ x ಒಪ್ಪಿಕೊಳ್ಳಿ </td>
      </tr>
      <tr>
          <td>197.</td>
          <td>ನಿರ್ಗಮನ x ಆಗಮಿಸಿ </td>
      </tr>
      <tr>
          <td>198.</td>
          <td>ನಿರ್ದಿಷ್ಟ x ಅನಿರ್ದಿಷ್ಟ </td>
      </tr>
      <tr>
          <td>199.</td>
          <td>ನಿರ್ಲಕ್ಷಿಸಿ x ಸೂಚನೆ </td>
      </tr>
      <tr>
          <td>200.</td>
          <td>ನಿಶ್ಚಿತ x ಅನಿಶ್ಚಿತ </td>
      </tr>

      <tr>
          <td>201.</td>
          <td>ನೀಡಿ x ತೆಗೆದುಕೊಳ್ಳಿ</td>
      </tr>
      <tr>
          <td>202.</td>
          <td>ನೀತಿ X ಅನೀತಿ</td>
      </tr>
      <tr>
          <td>203.</td>
          <td>ನೀರು x ಭೂಮಿ</td>
      </tr>
      <tr>
          <td>204.</td>
          <td>ನ್ಯಾಯ x ಅನ್ಯಾಯ</td>
      </tr>
      <tr>
          <td>205.</td>
          <td>ಪರಾಕ್ರಮಿ x ಹೇಡಿ</td>
      </tr>
      <tr>
          <td>206.</td>
          <td>ಪಲಚಿತ x ಅಪರಿಚಿತ.</td>
      </tr>
      <tr>
          <td>207.</td>
          <td>ಪಶ್ಚಿಮ x ಪೂರ್ವ</td>
      </tr>
      <tr>
          <td>208.</td>
          <td>ಪಿಸುಮಾತು x ಕಿರುಚಾಡು</td>
      </tr>
      <tr>
          <td>209.</td>
          <td>ಪಾಪ x ಪುಣ್ಯ</td>
      </tr>
      <tr>
          <td>210.</td>
          <td>ಪುಣ್ಯ x ಪಾಪ</td>
      </tr>
      <tr>
          <td>211.</td>
          <td>ಪುರಸ್ಕಾರ x ತಿರಸ್ಕಾರ</td>
      </tr>
      <tr>
          <td>212.</td>
          <td>ಪೂರ್ಣ x ಖಾಲಿ</td>
      </tr>
      <tr>
          <td>213.</td>
          <td>ಪೂರ್ಣ x ಅಪೂರ್ಣ</td>
      </tr>
      <tr>
          <td>214.</td>
          <td>ಪೂರ್ವ x ಪಶ್ಚಿಮ</td>
      </tr>
      <tr>
          <td>215.</td>
          <td>ಪ್ರಜ್ಞೆ x ಮೂರ್ಚೆ</td>
      </tr>
      <tr>
          <td>216.</td>
          <td>‌ಪ್ರತಿಷ್ಠೆ x ಅಪ್ರತಿಷ್ಠೆ</td>
      </tr>
      <tr>
          <td>217.</td>
          <td>ಪ್ರಧಾನ x ಗೌಣ</td>
      </tr>
      <tr>
          <td>218.</td>
          <td>ಪ್ರಬಲ x ದುರ್ಬಲ</td>
      </tr>
      <tr>
          <td>219.</td>
          <td>ಪ್ರವೇಶ x ನಿರ್ಗಮನ</td>
      </tr>
      <tr>
          <td>220.</td>
          <td>ಪ್ರಶ್ನೆ x ಉತ್ತರ</td>
      </tr>
      <tr>
          <td>221.</td>
          <td>ಪ್ರಸಿದ್ಧ x ಅಪ್ರಸಿದ್ಧ</td>
      </tr>
      <tr>
          <td>222.</td>
          <td>ಪ್ರಾಚೀನ x ನವೀನ</td>
      </tr>
      <tr>
          <td>223.</td>
          <td>ಪ್ರಾಥಮಿಕ x ಸುಧಾರಿತ</td>
      </tr>
      <tr>
          <td>224.</td>
          <td>ಪ್ರಾಮಾಣಿಕ x ಅಪ್ರಮಾಣಿಕ</td>
      </tr>
      <tr>
          <td>225.</td>
          <td>ಪ್ರಾಮಾಣಿಕತೆ x ಅಪ್ರಾಮಾಣಿಕತೆ</td>
      </tr>
      <tr>
          <td>226.</td>
          <td>ಪ್ರೀತಿ x ದ್ವೇಷ</td>
      </tr>
      <tr>
          <td>227.</td>
          <td>ಪ್ರೋತ್ಸಾಹಕ x ನಿರುತ್ಸಾಹಕ</td>
      </tr>
      <tr>
          <td>228.</td>
          <td>ಫಲ x ನಿಷ್ಪಲ</td>
      </tr>
      <tr>
          <td>229.</td>
          <td>ಫ್ರೀಜ್ x ಕರಗಿಸಿ</td>
      </tr>
      <tr>
          <td>230.</td>
          <td>ಬಡವ x ಬಲ್ಲದ / ಶ್ರೀಮಂತ</td>
      </tr>
      <tr>
          <td>231.</td>
          <td>ಬತ್ತು x ಜಿನುಗು</td>
      </tr>
      <tr>
          <td>232.</td>
          <td>ಬಹಳ / ಹೆಚ್ಚು x ಕಡಿಮೆ</td>
      </tr>
      <tr>
          <td>233.</td>
          <td>ಬಾಲ್ಯ x ಮುಪ್ಪು</td>
      </tr>
      <tr>
          <td>234.</td>
          <td>ಬಿಂಬ x ಪ್ರತಿಬಿಂಬ</td>
      </tr>
      <tr>
          <td>235.</td>
          <td>ಬಿಡಿ x ಆಗಮಿಸಿ</td>
      </tr>
      <tr>
          <td>236.</td>
          <td>‌ಬಿಸಿ x ಶೀತ</td>
      </tr>
      <tr>
          <td>237.</td>
          <td>ಬಿಆ x ಕಲಿ</td>
      </tr>
      <tr>
          <td>238.</td>
          <td>ಬೀಳು x ಏಳು</td>
      </tr>
      <tr>
          <td>239.</td>
          <td>ಬುದ್ಧಿವಂತ x ಸಿಲ್ಲಿ</td>
      </tr>
      <tr>
          <td>240.</td>
          <td>ಬೃಹತ್ x ಸಣ್ಣ</td>
      </tr>
      <tr>
          <td>241.</td>
          <td>ಬೆಚ್ಚಗಿನ x ತಂಪಾದ</td>
      </tr>
      <tr>
          <td>242.</td>
          <td>ಬೆಳಕು x ಕತ್ತಲೆ</td>
      </tr>
      <tr>
          <td>243.</td>
          <td>ಬೆಳಕು x ಭಾರ</td>
      </tr>
      <tr>
          <td>244.</td>
          <td>ಬೆಳೆದ x ಮಗು</td>
      </tr>
      <tr>
          <td>245.</td>
          <td>ಬೇಗ x ನಿಧಾನ</td>
      </tr>
      <tr>
          <td>246.</td>
          <td>ಭಕ್ತ x ಭವಿ</td>
      </tr>
      <tr>
          <td>247.</td>
          <td>ಭಯ x ಧೈರ್ಯ</td>
      </tr>
      <tr>
          <td>248.</td>
          <td>ಭಯ x ನಿರ್ಭಯ</td>
      </tr>
      <tr>
          <td>249.</td>
          <td>ಭಯ x ಅಭಯ</td>
      </tr>
      <tr>
          <td>250.</td>
          <td>ಭಯಂಕರ x ಅಭಯಂಕರ</td>
      </tr>

      <tr>
          <td>251.</td>
          <td>ಭರವಸೆಯ x ಹತಾಶ</td>
      </tr>
      <tr>
          <td>252.</td>
          <td>ಭವಿಷ್ಯ x ಹಿಂದಿನದು</td>
      </tr>
      <tr>
          <td>253.</td>
          <td>ಭಾಜ್ಯ x ಅವಿಭಾಜ್ಯ</td>
      </tr>
      <tr>
          <td>254.</td>
          <td>ಭಾರ x ಬೆಳಕು</td>
      </tr>
      <tr>
          <td>255.</td>
          <td>‌ನೀತಿ x ನಿರ್ಭೀತಿ</td>
      </tr>
      <tr>
          <td>256.</td>
          <td>ಭೂಮಿ x ತೆಗೆದುಕೊಳ್ಳಿ</td>
      </tr>
      <tr>
          <td>257.</td>
          <td>ಭೂಮಿ x ನೀರು</td>
      </tr>
      <tr>
          <td>258.</td>
          <td>ಮಂಗಳ x ಅಮಂಗಳ</td>
      </tr>
      <tr>
          <td>259.</td>
          <td>ಮಂದ x ಆಸಕ್ತಿದಾಯಕ</td>
      </tr>
      <tr>
          <td>260.</td>
          <td>‌ಮಗಳು x ಮಗ</td>
      </tr>
      <tr>
          <td>261.</td>
          <td>ಮದುವೆ x ವಿಚ್ಛೇದನ</td>
      </tr>
      <tr>
          <td>262.</td>
          <td>ಮಧುರ x ಕರ್ಕಶ</td>
      </tr>
      <tr>
          <td>263.</td>
          <td>ಮಬ್ಬು x ಚುರುಕು</td>
      </tr>
      <tr>
          <td>264.</td>
          <td>ಮರೆತುಬಿಡಿ x ನೆನಪಿಡಿ</td>
      </tr>
      <tr>
          <td>265.</td>
          <td>ಮಲ x ನಿರ್ಮಲ</td>
      </tr>
      <tr>
          <td>266.</td>
          <td>ಮಹಿಳೆ x ಪುರುಷ</td>
      </tr>
      <tr>
          <td>267.</td>
          <td>ಮಹಿಳೆ x ಸಂಭಾವಿತ</td>
      </tr>
      <tr>
          <td>268.</td>
          <td>ಮಹಿಳೆಯರು x ಪುರುಷರು</td>
      </tr>
      <tr>
          <td>269.</td>
          <td>ಮಾನವ x ಪ್ರಾಣಿ</td>
      </tr>
      <tr>
          <td>270.</td>
          <td>ಮಾನವೀಯ x ಕ್ರೂರ</td>
      </tr>
      <tr>
          <td>271.</td>
          <td>ಮಾನ್ಯತೆ x ಆಶ್ರಯ</td>
      </tr>
      <tr>
          <td>272.</td>
          <td>ಮಿತ x ಅಮಿತ</td>
      </tr>
      <tr>
          <td>273.</td>
          <td>ಮಿತ್ರ x ಶತ್ರು</td>
      </tr>
      <tr>
          <td>274.</td>
          <td>ಮುಂಜಾನೆ x ಮುಸ್ಸಂಜೆ</td>
      </tr>
      <tr>
          <td>275.</td>
          <td>ಮುಂದಕ್ಕೆ x ಹಿಂದುಳಿದ</td>
      </tr>
      <tr>
          <td>276.</td>
          <td>ಮುಂದೆ x ಹಿಂದೆ</td>
      </tr>
      <tr>
          <td>278</td>
          <td>ಮುಗ್ಧ x ತಪ್ಪಿತಸ್ಥ</td>
      </tr>
      <tr>
          <td>279.</td>
          <td>ಮುಸ್ಸಂಜೆ x ಮುಂಜಾನೆ</td>
      </tr>
      <tr>
          <td>280.</td>
          <td>ಮೂಡು x ಮುಳುಗು ( ಮರೆಯಾಗು )</td>
      </tr>
      <tr>
          <td>281.</td>
          <td>ಮೂರ್ಖ x ಜಾಣ</td>
      </tr>
      <tr>
          <td>282.</td>
          <td>ಮೃದು x ಒರಟು</td>
      </tr>
      <tr>
          <td>283.</td>
          <td>ಮೃದು x ಕಠಿಣ</td>
      </tr>
      <tr>
          <td>284.</td>
          <td>ಮೈಮರೆ x ಎಚ್ಚರ</td>
      </tr>
      <tr>
          <td>285.</td>
          <td>ಮೌಲ್ಯ x ಅಪಮೌಲ್ಯ</td>
      </tr>
      <tr>
          <td>286.</td>
          <td>ಯಶಸ್ವಿ x ಅಪಯಶಸ್ವಿ</td>
      </tr>
      <tr>
          <td>287.</td>
          <td>ಯುದ್ಧ x ಶಾಂತಿ</td>
      </tr>
      <tr>
          <td>288.</td>
          <td>ಯೋಗ್ಯ x ಅಯೋಗ್ಯ</td>
      </tr>
      <tr>
          <td>289.</td>
          <td>ಯೋಚನೆ x ನಿರ್ಯೋಚನೆ</td>
      </tr>
      <tr>
          <td>290.</td>
          <td>‌ರಕ್ಷಣಾ x ದಾಳಿ</td>
      </tr>
      <tr>
          <td>291.</td>
          <td>ರಕ್ಷಿಸು x ದಾಳಿ</td>
      </tr>
      <tr>
          <td>292.</td>
          <td>‌ರಫ್ತು x ಆಮದು</td>
      </tr>
      <tr>
          <td>293.</td>
          <td>ರೀತಿ x ಅರೀತಿ</td>
      </tr>
      <tr>
          <td>294.</td>
          <td>ರೀತಿಯ x ಕ್ರೂರ</td>
      </tr>
      <tr>
          <td>295.</td>
          <td>ರುಚಿಕರವಾದ x ಭೀಕರವಾದ</td>
      </tr>
      <tr>
          <td>296.</td>
          <td>ರೂಪ x ನಾಶ</td>
      </tr>
      <tr>
          <td>297.</td>
          <td>ರೋಗ x ಆರೋಗ್ಯ</td>
      </tr>
      <tr>
          <td>298.</td>
          <td>ರೋಗ x ನಿರೋಗ</td>
      </tr>
      <tr>
          <td>299.</td>
          <td>ಲಕ್ಷಣ x ಅವಲಕ್ಷಣ</td>
      </tr>
      <tr>
          <td>300.</td>
          <td>ಲಕ್ಷ್ಯ x ಅಲಕ್ಷ್ಯ</td>
      </tr>

      <tr>
          <td>301.</td>
          <td>ಲಾಭ x ನಷ್ಟ</td>
      </tr>
      <tr>
          <td>302.</td>
          <td>ಲೆಟ್ x ನಿಷೇಧಿಸಿ</td>
      </tr>
      <tr>
          <td>303.</td>
          <td>ಲೈವ್ x ಡೈ</td>
      </tr>
      <tr>
          <td>304.</td>
          <td>ವಂಚನೆ x ನಿರ್ವಂಚನೆ</td>
      </tr>
      <tr>
          <td>305.</td>
          <td>ವಂಶಸ್ಥರು x ಪೂರ್ವಜ</td>
      </tr>
      <tr>
          <td>306.</td>
          <td>ವಾಚ್ಯ x ಅವಾಚ್ಯ</td>
      </tr>
      <tr>
          <td>307.</td>
          <td>ವಾಸನೆ x ದುರ್ವಾಸನೆ</td>
      </tr>
      <tr>
          <td>308.</td>
          <td>ವಾಸ್ತವ x ಅವಾಸ್ತವ</td>
      </tr>
      <tr>
          <td>309.</td>
          <td>ವಿಜೇತ x ಸೋತವನು</td>
      </tr>
      <tr>
          <td>310.</td>
          <td>ವಿದೇಶಿ x ದೇಶೀಯ</td>
      </tr>
      <tr>
          <td>311.</td>
          <td>ವಿದೇಶಿ x ಸ್ಥಳೀಯ</td>
      </tr>
      <tr>
          <td>312.</td>
          <td>ವಿನಯ x ಅಭಿನಯ</td>
      </tr>
      <tr>
          <td>313.</td>
          <td>ವಿನಾಶ x ನಿರ್ಮಾಣ</td>
      </tr>
      <tr>
          <td>314.</td>
          <td>ವಿಫಲ x ಯಶಸ್ವಿಯಾಗು</td>
      </tr>
      <tr>
          <td>315.</td>
          <td>ವಿಭಜಿಸು x ಒಂದಾಗು</td>
      </tr>
      <tr>
          <td>316.</td>
          <td>ವಿಭಾಗ x ಏಕತೆ</td>
      </tr>
      <tr>
          <td>317.</td>
          <td>ವಿಭಾಜ್ಯ x ಅವಿಭಾಜ್ಯ</td>
      </tr>
      <tr>
          <td>318.</td>
          <td>ವಿಭಿನ್ನ x ಸಮಾನವಾಗಿ</td>
      </tr>
      <tr>
          <td>319.</td>
          <td>‌ವಿರುದ್ಧ x ನಿರಂತ</td>
      </tr>
      <tr>
          <td>320.</td>
          <td>ವಿರೋಧ x ಅವಿರೋಧ</td>
      </tr>
      <tr>
          <td>321.</td>
          <td>ವಿವೇಕ x ಅವಿವೇಕ</td>
      </tr>
      <tr>
          <td>322.</td>
          <td>ವಿಶ್ವಾಸ x ಅವಿಶ್ವಾಸ</td>
      </tr>
      <tr>
          <td>323.</td>
          <td>ವೀರ x ಹೇಣ</td>
      </tr>
      <tr>
          <td>324</td>
          <td>‌ವೃದ್ಧಾಪ್ಯ x ಯೌವನ</td>
      </tr>
      <tr>
          <td>325</td>
          <td>ವೇಗ X ಅವೇಗ</td>
      </tr>
      <tr>
          <td>326</td>
          <td>ವೇಗದ x ನಿಧಾನ</td>
      </tr>
      <tr>
          <td>327</td>
          <td>ವೇಳೆ X ಅವೇಳೆ</td>
      </tr>
      <tr>
          <td>328</td>
          <td>ವೈಫಲ್ಯ x ಯಶಸ್ಸು</td>
      </tr>
      <tr>
          <td>329</td>
          <td>ವ್ಯಯ x ಆಯ</td>
      </tr>
      <tr>
          <td>330</td>
          <td>ವ್ಯವಸ್ಥೆ x ಅವ್ಯವಸ್ಥೆ</td>
      </tr>
      <tr>
          <td>331</td>
          <td>‌ವ್ಯವಹಾರ x ಅವ್ಯವಹಾರ</td>
      </tr>
      <tr>
          <td>332</td>
          <td>ಶಕುನ x ಅಪಶಕುನ</td>
      </tr>
      <tr>
          <td>333</td>
          <td>ಶಕ್ತ x ಅಶಕ್ತ</td>
      </tr>
      <tr>
          <td>334</td>
          <td>‌ ಶತ್ರು x ಸ್ನೇಹಿತ</td>
      </tr>
      <tr>
          <td>335</td>
          <td>ಶಾಂತ x ಹಿಂಸಾತ್ಮಕ</td>
      </tr>
      <tr>
          <td>336</td>
          <td>‌ಶಾಖ x ಶೀತ</td>
      </tr>
      <tr>
          <td>337</td>
          <td>‌ಶಿಷ್ಟ x ದುಷ್ಟ</td>
      </tr>
      <tr>
          <td>338</td>
          <td>‌ಶಿಸ್ತು x ಅಶಿಸ್ತು</td>
      </tr>
      <tr>
          <td>339</td>
          <td>ಶುಚಿ x ಕೊಳಕು</td>
      </tr>
      <tr>
          <td>340</td>
          <td>‌ಶುಭ್ರ x ಅಶುಭ್ರ</td>
      </tr>
      <tr>
          <td>341</td>
          <td>ಶುಷ್ಕ x ಆದ್ರ್ರ</td>
      </tr>
      <tr>
          <td>342</td>
          <td>‌ಶೇಷ x ನಿಶ್ಲೇಷ</td>
      </tr>
      <tr>
          <td>343</td>
          <td>ಶ್ರದ್ಧೆ x ಅಶ್ರದ್ಧೆ</td>
      </tr>
      <tr>
          <td>344</td>
          <td>ಶ್ರೀಮಂತ x ಬಡ</td>
      </tr>
      <tr>
          <td>345</td>
          <td>ಶ್ರೇಷ್ಟ x ಕನಿಷ್ಠ</td>
      </tr>
      <tr>
          <td>346</td>
          <td>ಸಂಕೋಚ x ನಿಸ್ಸಂಕೋಚ</td>
      </tr>
      <tr>
          <td>347</td>
          <td>‌ಸಂಘಟನೆ x ಅಸಂಘಟನೆ</td>
      </tr>
      <tr>
          <td>348</td>
          <td>‌ಸಂಜೆ x ಬೆಳಗ್ಗೆ</td>
      </tr>
      <tr>
          <td>349</td>
          <td>ಸಂತೋಷ x ದುಃಖ</td>
      </tr>
      <tr>
          <td>350</td>
          <td>‌ಸಂತೋಷ x ಅಸಂತೋಷ</td>
      </tr>

      <tr>
          <td>351</td>
          <td>ಸಂಪತ್ತು x ಬಡತನ</td>
      </tr>
      <tr>
          <td>352</td>
          <td>‌ಸಂಪೂರ್ಣ x ಭಾಗ</td>
      </tr>
      <tr>
          <td>353</td>
          <td>‌ಸಂಭಾವಿತ x ಮಹಿಳೆ</td>
      </tr>
      <tr>
          <td>354</td>
          <td>ಸಂಶಯ x ನಿಸ್ಸಂಶಯ</td>
      </tr>
      <tr>
          <td>355</td>
          <td>‌ಸಜ್ಜನ x ದುರ್ಜನ</td>
      </tr>
      <tr>
          <td>356</td>
          <td>‌ಸತ್ತ x ಜೀವಂತ</td>
      </tr>
      <tr>
          <td>357</td>
          <td>ಸತ್ಯ x ಅಸತ್ಯ</td>
      </tr>
      <tr>
          <td>358</td>
          <td>‌ಸದುಪಯೋಗ x ದುರುಪಯೋಗ</td>
      </tr>
      <tr>
          <td>359</td>
          <td>ಸದ್ದು x ನಿಸದ್ದು</td>
      </tr>
      <tr>
          <td>360</td>
          <td>ಶಬ್ದ x ನಿಶಬ್ದ</td>
      </tr>
      <tr>
          <td>361</td>
          <td>ಸದ್ಭಾವನೆ x ದುರ್ಭಾವನೆ</td>
      </tr>
      <tr>
          <td>362</td>
          <td>‌ಸನ್ಮಾರ್ಗ x ದುರ್ಮಾರ್ಗ</td>
      </tr>
      <tr>
          <td>363</td>
          <td>‌ಸಮ x ಅಸಮ</td>
      </tr>
      <tr>
          <td>364</td>
          <td>‌ ಸಮಂಜಸ x ಅಸಮಂಜಸ</td>
      </tr>
      <tr>
          <td>365</td>
          <td>‌ಸಮತೆ x ಅಸಮತೆ</td>
      </tr>
      <tr>
          <td>366</td>
          <td>ಸಮರ್ಥ x ಅಸಮರ್ಥ</td>
      </tr>
      <tr>
          <td>367</td>
          <td>‌ಸಮಾನ x ವಿಭಿನ್ನ</td>
      </tr>
      <tr>
          <td>368</td>
          <td>‌ಸಲ x ಬೆಸ</td>
      </tr>
      <tr>
          <td>369</td>
          <td>‌ಸಲ x ತಪ್ಪು</td>
      </tr>
      <tr>
          <td>370</td>
          <td>ಸರ್ವಾಧಿಕಾರ x ಗಣರಾಜ್ಯ</td>
      </tr>
      <tr>
          <td>371</td>
          <td>‌ಸಹಜ x ಅಸಹಜ</td>
      </tr>
      <tr>
          <td>372</td>
          <td>‌ಸಹ್ಯ x ಅಸಹ್ಯ</td>
      </tr>
      <tr>
          <td>373</td>
          <td>‌ಸಾಧಾರಣ x ಅಸಾಧಾರಣ</td>
      </tr>
      <tr>
          <td>374</td>
          <td>‌ಸಾಧ್ಯ x ಅಸಾಧ್ಯ</td>
      </tr>
      <tr>
          <td>375</td>
          <td>‌ ಸಾಮಾನ್ಯ x ನಿರ್ದಿಷ್ಟ</td>
      </tr>
      <tr>
          <td>376</td>
          <td>‌ಸಾಲ x ಬದುಕು</td>
      </tr>
      <tr>
          <td>377</td>
          <td>‌ಸಾವು x ಜನನ</td>
      </tr>
      <tr>
          <td>378</td>
          <td>ಸಾಹುಕಾರ x ಬಡವ</td>
      </tr>
      <tr>
          <td>379</td>
          <td>‌ಸೀಸ x ಅನುಸಲಿಸಿ</td>
      </tr>
      <tr>
          <td>380</td>
          <td>ಸುಂದರ x ಕೊಳಕು</td>
      </tr>
      <tr>
          <td>381</td>
          <td>‌ ಸುಂದರ x ಭಯಾನಕ</td>
      </tr>
      <tr>
          <td>382</td>
          <td>‌ಸುಂದರ x ಕುರೂಪ</td>
      </tr>
      <tr>
          <td>383</td>
          <td>‌ಸುಕೃತಿ x ವಿಕೃತಿ</td>
      </tr>
      <tr>
          <td>384</td>
          <td>‌ಸುಗ್ಗಿಯ x ಸಸ್ಯ</td>
      </tr>
      <tr>
          <td>385</td>
          <td>‌ಸುದೈವಿ x ದುರ್ದೈವಿ</td>
      </tr>
      <tr>
          <td>386</td>
          <td>‌ಸುಪ್ರಸಿದ್ಧ x ಕುಪ್ರಸಿದ್ಧ</td>
      </tr>
      <tr>
          <td>387</td>
          <td>ಸುಲಭ x ಕಷ್ಟ</td>
      </tr>
      <tr>
          <td>388</td>
          <td>‌ಸುವಾಸನೆ x ದುರ್ವಾಸನೆ</td>
      </tr>
      <tr>
          <td>389</td>
          <td>‌ಸುಳ್ಳು x ನಿಂತುಕೊಳ್ಳಿ</td>
      </tr>
      <tr>
          <td>390</td>
          <td>‌ಸೂರ್ಯೋದಯ x ಸೂರ್ಯಾಸ್ತ</td>
      </tr>
      <tr>
          <td>391</td>
          <td>‌ಸೇರಿವೆ x ಹೊರಗಿಡಿ</td>
      </tr>
      <tr>
          <td>392</td>
          <td>ಸೋತವ x ವಿಜೇತ</td>
      </tr>
      <tr>
          <td>393</td>
          <td>ಸೋಮಾಲಿಯಾದ x ಸಕ್ರಿಯ</td>
      </tr>
      <tr>
          <td>394</td>
          <td>ಸೋಲು x ಗೆಲುವು</td>
      </tr>
      <tr>
          <td>395</td>
          <td>ಸೌಭಾಗ್ಯ x ದೌರ್ಭಾಗ್ಯ</td>
      </tr>
      <tr>
          <td>396</td>
          <td>ಸ್ತುತಿ xನಿಂದೆ</td>
      </tr>
      <tr>
          <td>397</td>
          <td>ಸ್ನೇಹಿತ x ಶತ್ರು</td>
      </tr>
      <tr>
          <td>398</td>
          <td>ಸ್ವದೇಶ x ಪರದೇಶ</td>
      </tr>
      <tr>
          <td>399</td>
          <td>ಸ್ವದೇಶ x ವಿದೇಶ</td>
      </tr>
      <tr>
          <td>400</td>
          <td>‌ಸ್ವಯಂಪ್ರೇರಿತ x ಕಡ್ಡಾಯ</td>
      </tr>

      <tr>
          <td>401</td>
          <td>‌ಸ್ವರ x ವ್ಯಂಜನ</td>
      </tr>
      <tr>
          <td>402</td>
          <td>‌ಸ್ವರ x ಅಪಸ್ವರ</td>
      </tr>
      <tr>
          <td>403</td>
          <td>‌ ಸ್ವರ್ಗ x ನರಕ</td>
      </tr>
      <tr>
          <td>404</td>
          <td>‌ ಸ್ವಲ್ಪ x ದೊಡ್ಡದು</td>
      </tr>
      <tr>
          <td>405</td>
          <td>‌ಸ್ವಸ್ಥ X ಅಸ್ವಸ್ಥ</td>
      </tr>
      <tr>
          <td>406</td>
          <td>‌ಸ್ವಾತಂತ್ರ್ಯ x ದಾಸ್ಯ</td>
      </tr>
      <tr>
          <td>407</td>
          <td>ಸ್ವಾರ್ಥ x ನಿಸ್ವಾರ್ಥ</td>
      </tr>
      <tr>
          <td>408</td>
          <td>‌ಸ್ವಾವಲಂಬನೆ x ಪರಾವಲಂಬನೆ</td>
      </tr>
      <tr>
          <td>409</td>
          <td>‌ಸ್ವೀಕರಿಸು x ನಿರಾಕರಿಸು</td>
      </tr>
      <tr>
          <td>410</td>
          <td>ಹತಾಶ x ಭರವಸೆಯ</td>
      </tr>
      <tr>
          <td>411</td>
          <td>‌ಹಗಲು x ರಾತ್ರಿ</td>
      </tr>
      <tr>
          <td>412</td>
          <td>‌ಹಸಿದ x ಬಾಯಾರಿದ</td>
      </tr>
      <tr>
          <td>413</td>
          <td>‌ ಹಾಗೆ x ದ್ವೇಷ</td>
      </tr>
      <tr>
          <td>414</td>
          <td>ಹಿಂಸೆ x ಅಹಿಂಸೆ</td>
      </tr>
      <tr>
          <td>415</td>
          <td>ಹಿಗ್ಗು x ಕುಗ್ಗು</td>
      </tr>
      <tr>
          <td>416</td>
          <td>ಹಿಟ್ x ಮಿಸ್</td>
      </tr>
      <tr>
          <td>417</td>
          <td>‌ಹಿತ x ಅಹಿತ</td>
      </tr>
      <tr>
          <td>418</td>
          <td>ಹೀನ x ಶ್ರೇಷ್ಠ</td>
      </tr>
      <tr>
          <td>419</td>
          <td>‌ಹುಡುಗಿ x ಹುಡುಗ</td>
      </tr>
      <tr>
          <td>420</td>
          <td>ಹೆಂಡತಿ x ಗಂಡ</td>
      </tr>
      <tr>
          <td>421</td>
          <td>ಹೆಚ್ಚಿಸಿ x ಕಡಿಮೆ ಮಾಡಿ</td>
      </tr>
      <tr>
          <td>422</td>
          <td>ಹೆಚ್ಚು x ಕಡಿಮೆ</td>
      </tr>
      <tr>
          <td>423</td>
          <td>ಹೊರಗಿಡಿ x ಸೇರಿಸಿ</td>
      </tr>
      <tr>
          <td>424</td>
          <td>ಹೋಗಿ x ಬನ್ನಿ</td>
      </tr>
      <tr>
          <td>425</td>
          <td>ಹೌದು x ಅಲ್ಲ</td>
      </tr>
  </tbody>
</table>

</body>
</html>
