<!DOCTYPE html>
<html>
    <head>
	<style>


body {
  color: rgb(17, 36, 66);
  text-align: center;
}
</style>
      <title>ಅನ್ಯ ದೇಶಿಯ ಪದಗಳು</title>
      <link rel="stylesheet" href="static/scss/newfile1.css">
      <link rel="shortcut icon" href="..\static\images\kannada.webp" type="image/x-icon">



    </head>
    <body>
      <div class="new">
        <h1 class="box_color">ಅನ್ಯ ದೇಶಿಯ ಪದಗಳು<hr></h1>
        <button type="button" onclick="window.location.href='http://127.0.0.1:5000/homea';">ಮುಖ್ಯಪುಟ</button>
        <button type="button" onclick="window.location.href='http://127.0.0.1:5000/start1a';">ಉದಾಹರಣೆಗಳು</button>
        <button type="button" onclick="window.location.href='http://127.0.0.1:5000/testa';">ಪರೀಕ್ಷಿಸಿ</button>
        <button type="button" onclick="window.location.href='http://127.0.0.1:5000/welcomea';">ಅಭ್ಯಾಸ ಪ್ರಾರಂಭಿಸು</button>
        <button type="button" onclick="window.location.href='http://127.0.0.1:5000';">ವ್ಯಾಕರಣ ಮುಖ್ಯಪುಟ</button>

      </div><br><br><br><br><br>
<div class="new">
  <button type="button" onclick="window.location.href='http://127.0.0.1:5000/identifyLanguagea';">ಭಾಷೆಯನ್ನು ಗುರುತಿಸ</button><br>
  <button type="button" onclick="window.location.href='http://127.0.0.1:5000/matcha';">ಹೊಂದಿಸಿ ಬರೆಯಿರಿ</button><br>
  <button type="button" onclick="window.location.href='http://127.0.0.1:5000/oddoneouta';">ಗುಂಪಿಗೆ ಸೇರದ ಪದ</button><br>

</div>
    </body>
</html>
