<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
.h{
    text-align:center;
    font-size:100%;
    padding: 150px;
	padding-top:100px;
    }
.b{
    padding-left:725px;
	padding-bottom:500px;
}


</style>
  <title>ಸಂಧಿ</title>
  <link rel="stylesheet" href="static/scss/newfile1.css">
  <link rel="shortcut icon" href="..\static\images\kannada.webp" type="image/x-icon">

</head>
<body>
  <div class="new">
    <h1 class="box_color">ಸಂಧಿ<hr></h1>
    <button type="button" onclick="window.location.href='http://127.0.0.1:5000/welcome';">ಮುಖ್ಯಪುಟ</button>
    <button type="button" onclick="window.location.href='http://127.0.0.1:5000/page2';">ಸಂಧಿ ಪ್ರಕಾರಗಳು</button>
    <button type="button" onclick="window.location.href='http://127.0.0.1:5000/abhyasa';">ಅಭ್ಯಾಸ ಪ್ರಾರಂಭಿಸು</button>
    <button type="button" onclick="window.location.href='http://127.0.0.1:5000';">ವ್ಯಾಕರಣ ಮುಖ್ಯಪುಟ</button>

  </div>
<p style="font-size:21px;"><b>
                ಎರಡು ಅಕ್ಷರಗಳು ಕಾಲವಿಳಂಬವಿಲ್ಲದೆ ಕೂಡುವುದಕ್ಕೆ ಸಂಧಿ ಎಂದು ಹೆಸರು.
	        ಸಂಧಿಯಾಗುವಾಗ ಸ್ವರದ ಮುಂದೆ ಸ್ವರ ಬಂದರೆ ಸ್ವರಸಂಧಿ ಎನಿಸುವುದು.
              <br>  ಸ್ವರಸಂಧಿ = ಸ್ವರ + ಸ್ವರ<br>
	        <u>ಉದಾ:</u>
	        ಮರ+ಅನ್ನು = ಮರವನ್ನು<br><br>
                ಸಂಧಿಯಾಗುವಾಗ ಸ್ವರದ ಮುಂದೆ ವ್ಯಂಜನ ಅಥವಾ ವ್ಯಂಜನದ ಮುಂದೆ
	        ಸ್ವರ ಬಂದರೆ ವ್ಯಂಜನ ಸಂಧಿ ಎನಿಸುವುದು.
              <br>  ವ್ಯಂಜನ ಸಂಧಿ = ಸ್ವರ + ವ್ಯಂಜನ<br>
	        <u>ಉದಾ:</u>
	        ಸುಖ+ಪಡು=ಸುಖಬಡು<br><br>
                ವ್ಯಂಜನ ಸಂಧಿ = ವ್ಯಂಜನ + ವ್ಯಂಜನ<br>
	        <u>ಉದಾ:</u>
	       <br> ಕಣ್+ಪನಿ=ಕಂಬನಿ<br><br>
                ಸಂಧಿ ಕಾರ್ಯವು ಎರಡು ಕನ್ನಡ ಶಬ್ಧಗಳ ನಡುವೆ ಏರ್ಪಟ್ಟರೆ ಅವನ್ನು
	        ಕನ್ನಡ ಸಂಧಿಯಾಗಿ  ಮತ್ತು ಎರಡರಲ್ಲಿ ಒಂದು ಸಂಸ್ಕೃತ ಪದವಾಗಿದ್ದರೆ
	        ಅವನ್ನು ಸಂಸ್ಕೃತ ಸಂಧಿಯಾಗಿ ಪರಿಗಣಿಸಲಾಗುತ್ತದೆ.<br>
                <u>ಉದಾ:</u>
                ರವಿ + ಇಂದ್ರ = ರವೀಂದ್ರ<br>
                ಅತಿ + ಅಂತ = ಅತ್ಯಂತ</b></p>
</body>
</html>
